.angular-google-map {
  height: 200px;
  position: relative;
}

.events {
  padding-left: 0px;
  .row {
    padding-bottom: 10px;
  }
  li {
    list-style: none;
    padding-top: 24px;
    padding-left: 0px;
    margin-left: 0px;
    .name {
      padding-top: 0px;
      line-height: 30px;
    }
    .square {
      width: 100%;
      border-radius: 10px;
      padding-left: 0px;
      padding-right: 0px;
      .month, .day, .year {
        width: 100%;
        text-align: center;
      }
      .month {
        background-color: $primary-light;
        color: white;
        font-weight: 800;
        margin-bottom: 0px;
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
      }
      .date {
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        background-color: $white;
        margin-bottom: 0px;
        padding-top: 16px;
        color: $primary;
      }
      .day {
        font-size: 16px;
        font-weight: 800;
        background-color: $white;
        margin: 0px;
        padding: 4px;
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
        color: $primary;
      }
    }
    .time {
      font-size: 24px;
      color: $white;
    }
  }
}
