<div class="container">
  <h1 class="center">Events</h1>
  <ul class="events">
    <li class="event" ng-repeat="event in events | orderBy: 'date':reverse">
      <div class="row">
        <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-0 col-xs-3">
          <div class="square">
            <p class="month">{{event.date | date:'MMM'}} &#39;{{event.date | date:'yy'}}</p>
            <p class="date">{{event.date | date:'d'}}</p>
            <p class="day">{{event.date | date:'EEE'}}</p>
          </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-9">
          <h1 class="name">{{event.name}}</h1>
          <p class="time">{{event.time}}</p>
          <p class="info">
            {{event.info}}
            <a ng-if="event.link" ng-href="{{event.link}}">more info</a>
          </p>
        </div>
        <div class="col-sm-3 col-xs-12">
        </div>
      </div>
      <ui-gmap-google-map style="height: 200px;"center="[event.lat, event.lng ]" zoom='15' options='options'>
        <ui-gmap-marker idkey="event.venue" coords="[event.lat, event.lng ]">
        </ui-gmap-marker>
      </ui-gmap-google-map>
      <hr ng-show="! $last">
    </li>
  </ul>
</div>
