<script>
  $('.datepicker').pickadate()
  $('.timepicker').pickatime()
</script>

<div class="container">
  <h1 class="col-md-12">Manage Events</h1>
  <h2 class="col-md-12">Add Event</h2>

  <div class="col-md-4">
    <form class="thing-form">
      <label>Name of Event</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Event Title" ng-model="newName">
      </p>
      <label>Date of Event:</label>
      <p class="input-group">
        <input type="number" class="form-control datepicker" placeholder="Event Date" ng-model="newDate">
      </p>
      <label>Time of Event:</label>
      <p class="input-group">
        <input type="text" class="form-control timepicker" placeholder="Event Time" pick-a-date-options="dateOptions" ng-model="newTime">
      </p>
      <label>Name of Venue:</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Event Venue" ng-model="newVenue">
      </p>
      <label>City:</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Event City" ng-model="newCity">
      </p>
      <label>Info:</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Event Info" ng-model="newInfo">
      </p>
      <label>Address:</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Event Latitude" ng-model="newLat">
      </p>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Event Longitude" ng-model="newLng">
      </p>
      <p class="input-group">
        <button type="submit" class="btn btn-primary" ng-click="addEvent()">Add New</button>
      </p>
    </form>
  </div>

  <div class="col-md-8">
    <ul class="events">
      <li ng-repeat="event in events | orderBy: 'date':reverse">
        <h2 class="name">{{event.name}}</h2>
        <p class="date">{{event.date}}</p>
        <p class="time">{{event.time}}</p>
        <p class="info">more info</p>
        <button type="button" class="btn btn-danger" ng-click="deleteEvent(event)">Delete</button>
        <ui-gmap-google-map center="[event.lat, event.lng ]" zoom='15' options='options'>
          <ui-gmap-marker idkey="event.venue" coords="[event.lat, event.lng ]">
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </li>
    </ul>
  </div>
</div>
