<div class="admin container">
  <h1 class="col-md-12 text-center">Manage Events</h1>
  <div class="col-md-4">
    <h2 class="text-center">Add Event</h2>
    <form name="eventForm" ng-submit="addEvent(eventForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.title.$valid && eventForm.title.$touched, 'has-error' : eventForm.title.$invalid && eventForm.title.$touched }">
        <label class="control-label">Title of Event</label>
        <div class="input-group">
          <input class="form-control" name="title" ng-model="newTitle" placeholder="Opening Concert at Carnegie Hall" required ng-maxlength="82">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.title.$valid && eventForm.title.$touched, 'fa-times' : eventForm.title.$touched && eventForm.title.$invalid, 'fa-asterisk' : eventForm.title.$untouched}" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.title.$error" ng-if="eventForm.title.$touched">
          <p ng-message="required">A title is required.</p>
          <p ng-message="maxlength">The title must be less than 82 characters.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.date.$valid && eventForm.date.$touched && isDateCollapsed, 'has-error' : eventForm.date.$invalid && eventForm.date.$touched && isDateCollapsed }">
        <label class="control-label">Date and Time</label>
        <div click-outside="closeDate()">
          <div class="dropdown" ng-click="isDateCollapsed = !isDateCollapsed">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group">
                <input type="datetime-local" name="date" class="form-control" placeholder="May 5, 1891" data-ng-model="newDate" required ng-readonly>
                <span class="input-group-addon">
                  <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.date.$valid && eventForm.date.$touched && isDateCollapsed, 'fa-times' : eventForm.date.$invalid && eventForm.date.$touched && isDateCollapsed, 'fa-asterisk' : eventForm.date.$untouched }"></span>
                </span>
              </div>
            </a>
            <ul aria-labelledby="dLabel" ng-hide="isDateCollapsed">
              <datetimepicker data-ng-model="newDate" data-on-set-time="toggleCollapseDate()"></datetimepicker>
            </ul>
          </div>
        </div>
        <div class="help-block" ng-messages="eventForm.date.$error" ng-if="eventForm.date.$touched && isDateCollapsed">
          <p ng-message="required">The event must have a date and time.</p>
          <p ng-message="datetimelocal">The event date must be in a valid format.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.venue.$valid && eventForm.venue.$touched && newVenue, 'has-error' : eventForm.venue.$invalid && eventForm.venue.$touched }">
        <label class="control-label">Name of Venue</label>
        <div class="input-group">
          <input class="form-control" name="venue" ng-model="newVenue" placeholder="Carnegie Hall" ng-required="newAddress || newCity">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.venue.$valid && eventForm.venue.$touched && newVenue, 'fa-times' : eventForm.venue.$touched && eventForm.venue.$invalid, 'fa-asterisk' : (newVenue || newAddress || newCity) && !eventForm.venue.$touched}" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.venue.$error" ng-if="eventForm.venue.$touched">
          <p ng-message="required">A venue name is required for the event map.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.address.$valid && eventForm.address.$touched && newAddress, 'has-error' : eventForm.address.$invalid && eventForm.address.$touched}">
        <label class="control-label">Address of Venue</label>
        <div class="input-group">
          <input class="form-control" name="address" ng-model="newAddress" placeholder="881 7th Ave." ng-model-options="{ debounce: 1000 }" ng-change="loadMap()" ng-required="newVenue || newCity">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.address.$valid && eventForm.address.$touched && newAddress, 'fa-times' : eventForm.address.$invalid && eventForm.address.$touched && newAddress, 'fa-asterisk' : (newVenue || newAddress || newCity) && !eventForm.address.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.address.$error" ng-if="eventForm.address.$touched">
          <p ng-message="required">An address is required for the event map.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.city.$valid && eventForm.city.$touched && newCity, 'has-error' : eventForm.city.$invalid && eventForm.city.$touched }">
        <label class="control-label">City of Venue</label>
        <div class="input-group">
          <input class="form-control" name="city" ng-model="newCity" placeholder="New York" ng-model-options="{ debounce: 1000 }" ng-change="loadMap()" ng-required="newName || newAddress || newCity">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.city.$valid && eventForm.city.$touched && newCity, 'fa-times' : eventForm.city.$touched && eventForm.city.$invalid, 'fa-asterisk' : (newVenue || newAddress || newCity) && !eventForm.city.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.city.$error" ng-if="eventForm.city.$touched">
          <p ng-message="required">A city is required for the event map.</p>
        </div>
      </div>
      <div class="form-group has-success" ng-show="newVenue && newAddress && newCity">
        <label class="control-label">Even Map Zoom</label>
        <!--select class="form-control" name="zoom" ng-model="newZoom" ng-options="l as l for l in levels" ng-required="newVenue || newAddress || newCity"></select-->
        <rzslider name="zoom" rz-slider-model="newZoom" rz-slider-floor="1" rz-slider-ceil="20" ng-required="newVenue || newAddress || newCity"></rzslider>
        <span class="sr-only">(success)</span>
      </div>
      <div ng-show="loadingMap">
        <i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
        <p>The map is loading...</p>
      </div>
      <ui-gmap-google-map ng-show="newVenue && newAddress && newCity" center="newMap" zoom="newZoom || 15" options="options">
        <!--ui-gmap-marker idKey="newVenue" coords="newMap"></ui-gmap-marker-->
      </ui-gmap-google-map>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.info.$valid && eventForm.info.$touched && newInfo, 'has-error' : eventForm.info.$invalid && eventForm.info.$touched }">
        <label class="control-label">Event Info</label>
        <div class="input-group">
          <input class="form-control" name="info" ng-model="newInfo" placeholder="Event Info">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.info.$valid && eventForm.info.$touched && newInfo, 'fa-times' : eventForm.info.$touched && eventForm.info.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.link.$valid && eventForm.link.$touched && newLink, 'has-error' : eventForm.link.$invalid && eventForm.link.$touched }">
        <label class="control-label">Event Link</label>
        <div class="input-group">
          <input class="form-control" name="link" ng-model="newLink" placeholder="Event Link">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.link.$valid && eventForm.link.$touched && newLink, 'fa-times' : eventForm.link.$touched && eventForm.link.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <button type="submit" class="btn btn-primary btn-block" ng-disabled="eventForm.$invalid">Add New</button>
    </form>
  </div>
  <div class="col-md-8">
    <ul class="admin events">
      <li ng-repeat="event in events | orderBy: 'date':reverse" class="well well-lg">
        <button type="button" class="btn btn-danger btn-xs" ng-click="confirmDelete(event.name, event)"><i class="fa fa-times"></i></button>
        <div>
          <h2>
            <a href="#" editable-text="event.name" onaftersave="updateEvent(event)">
              {{ event.name || "empty" }}
            </a>
          </h2>
        </div>
        <label>Date</label>
        <div>
          <a href="#" editable-bsdate="event.date" e-datepicker-popup="dd-MMMM-yyyy" onaftersave="updateEvent(event)">
            {{ (event.date | date:"dd/MM/yyyy") || 'empty' }}
          </a>
        </div>
        <label>Time</label>
        <div>
          <a href="#" editable-bstime="event.time" e-show-meridian="true" onaftersave="updateEvent(event)">
            {{ (event.time | date:"HH:mm") || "empty" }}
          </a>
        </div>
        <label>Venue</label>
        <div>
          <a href="#" editable-text="event.venue" onaftersave="updateEvent(event)">
            {{ event.venue || "empty" }}
          </a>
        </div>
        <label>City</label>
        <div>
          <a href="#" editable-text="event.city" onaftersave="updateEvent(event)">
            {{ event.city || "empty" }}
          </a>
        </div>
        <label>Link</label>
        <div>
          <a href="#" editable-text="event.link" onaftersave="updateEvent(event)">
            {{ event.link || "empty" }}
          </a>
        </div>
        <label>Info</label>
        <div>
          <a href="#" editable-text="event.info" ng-bind-html="event.info || 'empty'" onaftersave="updateEvent(event)">
            {{ event.info || "empty" }}
          </a>
        </div>
        <label>Address</label>
        <div>
          <a href="#" editable-text="event.lng" onaftersave="updateEvent(event)">
            {{ event.lng || "Longitude" }}
          </a>,
          <a href="#" editable-text="event.lat" onaftersave="updateEvent(event)">
            {{ event.lat || "Latitude" }}
          </a>
        </div>
        <label ng-if="event.lat != null && event.lng != null">Zoom</label>
        <p ng-if="event.lat != null && event.lng != null">Choose a value between 1 and 19 (15 default)</p>
        <div ng-if="event.lat != null && event.lng != null">
          <a ng-model="edits" href="#" editable-range="event.zoom" e-min="1" e-max="19" onaftersave="updateEvent(event)">
            {{ event.zoom || "empty" }}
          </a>
        </div>
        <ui-gmap-google-map ng-if="event.lat != null && event.lng != null" center="[event.lat, event.lng ]" zoom='event.zoom' options='options'>
          <!--ui-gmap-marker idKey="$index" coords="[event.lat, event.lng ]">
          </ui-gmap-marker-->
        </ui-gmap-google-map>
      </li>
    </ul>
  </div>
</div>
