<div class="admin container">
  <h1 class="col-md-12 text-center">Manage Events</h1>
  <div class="col-md-4">
    <h2 class="text-center">Add Event</h2>
    <form name="eventForm" ng-submit="addEvent(eventForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.title.$valid && eventForm.title.$touched, 'has-error' : eventForm.title.$invalid && eventForm.title.$touched }">
        <label class="control-label">Title of Event</label>
        <div class="input-group">
          <input class="form-control" name="title" ng-model="newEvent.title" placeholder="Premiere of the Rite of Spring" required ng-maxlength="82">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.title.$valid && eventForm.title.$touched, 'fa-times' : eventForm.title.$touched && eventForm.title.$invalid, 'fa-asterisk' : eventForm.title.$untouched}" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.title.$error" ng-if="eventForm.title.$touched">
          <p ng-message="required">A title is required.</p>
          <p ng-message="maxlength">The title must be less than 82 characters.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.date.$valid && eventForm.date.$touched, 'has-error' : eventForm.date.$invalid && eventForm.date.$touched && isDateCollapsed }">
        <label class="control-label">Date and Time</label>
        <div click-outside="closeDate()">
          <div class="dropdown" ng-click="isDateCollapsed = !isDateCollapsed">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group">
                <input type="text" name="date" class="form-control" placeholder="5/19/13 8:00pm" data-ng-model="newEvent.datetime" required readonly format-datetime="M/D/YY h:mma" ng-pattern="dateFormat">
                <span class="input-group-addon">
                  <span class="fa fa-fw fa-asterisk form-control-feedback" ng-class="{ 'fa-check' : eventForm.date.$valid && eventForm.date.$touched && isDateCollapsed, 'fa-times' : eventForm.date.$invalid && eventForm.date.$touched && isDateCollapsed, 'fa-asterisk' : eventForm.date.$untouched}"></span>
                </span>
              </div>
            </a>
            <ul aria-labelledby="dLabel" ng-hide="isDateCollapsed">
              <datetimepicker data-ng-model="newEvent.datetime" data-on-set-time="toggleCollapseDate()"></datetimepicker>
            </ul>
          </div>
        </div>
        <div class="help-block" ng-messages="editForm.date.$error" ng-if="editForm.date.$touched && isDateCollapsed">
          <p ng-message="required">The event must have a date and time.</p>
          <p ng-message="pattern">The event date must be in a valid format.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.venue.$valid && eventForm.venue.$touched && newEvent.venue, 'has-error' : eventForm.venue.$invalid && eventForm.venue.$touched }">
        <label class="control-label">Name of Venue</label>
        <div class="input-group">
          <input class="form-control" name="venue" ng-model="newEvent.venue" placeholder="Théâtre des Champs-Élysées" ng-required="newEvent.address || newEvent.city">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.venue.$valid && eventForm.venue.$touched && newEvent.venue, 'fa-times' : eventForm.venue.$touched && eventForm.venue.$invalid, 'fa-asterisk' : (newEvent.venue || newEvent.address || newEvent.city) && !eventForm.venue.$touched}" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.venue.$error" ng-if="eventForm.venue.$touched">
          <p ng-message="required">A venue name is required for the event map.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.address.$valid && eventForm.address.$touched && newEvent.address, 'has-error' : eventForm.address.$invalid && eventForm.address.$touched}">
        <label class="control-label">Address of Venue</label>
        <div class="input-group">
          <input class="form-control" name="address" ng-model="newEvent.address" placeholder="15 avenue Montaigne" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }" ng-change="loadMap()" ng-required="newEvent.venue || newEvent.city">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.address.$valid && eventForm.address.$touched && newEvent.address, 'fa-times' : eventForm.address.$invalid && eventForm.address.$touched && newEvent.address, 'fa-asterisk' : (newEvent.venue || newEvent.address || newEvent.city) && !eventForm.address.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.address.$error" ng-if="eventForm.address.$touched">
          <p ng-message="required">An address is required for the event map.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.city.$valid && eventForm.city.$touched && newEvent.city, 'has-error' : eventForm.city.$invalid && eventForm.city.$touched }">
        <label class="control-label">City of Venue</label>
        <div class="input-group">
          <input class="form-control" name="city" ng-model="newEvent.city" placeholder="Paris" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }" ng-change="loadMap()" ng-required="newEvent.Name || newEvent.address || newEvent.city">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.city.$valid && eventForm.city.$touched && newEvent.city, 'fa-times' : eventForm.city.$touched && eventForm.city.$invalid, 'fa-asterisk' : (newEvent.venue || newEvent.address || newEvent.city) && !eventForm.city.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="eventForm.city.$error" ng-if="eventForm.city.$touched">
          <p ng-message="required">A city is required for the event map.</p>
        </div>
      </div>
      <div class="form-group has-success" ng-show="newEvent.venue && newEvent.address && newEvent.city">
        <label class="control-label">Event Map Zoom</label>
        <!--select class="form-control" name="zoom" ng-model="newZoom" ng-options="l as l for l in levels" ng-required="newVenue || newAddress || newCity"></select-->
        <rzslider name="zoom" rz-slider-model="newEvent.zoom" rz-slider-floor="1" rz-slider-ceil="20" ng-required="newEvent.venue || newEvent.address || newEvent.city"></rzslider>
        <span class="sr-only">(success)</span>
      </div>
      <div ng-if="loadingMap">
        <i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
        <p>The map is loading...</p>
      </div>
      <ui-gmap-google-map ng-if="newEvent.venue && newEvent.address && newEvent.city" center="[newEvent.lng, newEvent.lat]" zoom="newEvent.zoom || 15" options="options">
        <!--ui-gmap-marker idKey="newVenue" coords="newMap"></ui-gmap-marker-->
      </ui-gmap-google-map>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.info.$valid && eventForm.info.$touched && newEvent.info, 'has-error' : eventForm.info.$invalid && eventForm.info.$touched }">
        <label class="control-label">Event Info</label>
        <div class="input-group">
          <textarea class="form-control" name="info" ng-model="newEvent.info" placeholder="The premiere of Stravinsky's 'Rite of Spring.'"></textarea>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.info.$valid && eventForm.info.$touched && newEvent.info, 'fa-times' : eventForm.info.$touched && eventForm.info.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : eventForm.link.$valid && eventForm.link.$touched && newEvent.link, 'has-error' : eventForm.link.$invalid && eventForm.link.$touched }">
        <label class="control-label">Event Link</label>
        <div class="input-group">
          <input class="form-control" name="link" ng-model="newEvent.link" placeholder="https://en.wikipedia.org/wiki/The_Rite_of_Spring">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : eventForm.link.$valid && eventForm.link.$touched && newEvent.link, 'fa-times' : eventForm.link.$touched && eventForm.link.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <button type="submit" class="btn btn-primary btn-block" ng-disabled="eventForm.$invalid">Add New</button>
    </form>
  </div>
  <div class="col-md-8">
    <h2 class="text-center">Edit Events</h2>
    <div class="text-center">
      <div class="btn-group">
          <label class="btn btn-primary" ng-model="eventSelector" btn-radio="'Upcoming'">Upcoming Events</label>
          <label class="btn btn-primary" ng-model="eventSelector" btn-radio="'Past'">Past Events</label>
      </div>
    </div>
    <br>
    <ul class="admin events">
      <li ng-repeat="event in eventDataset(eventSelector) | orderBy: sort" class="well well-lg row">
        <div class="col-xs-12">
          <form name="editForm" ng-submit="updateEvent(copiedEvent)" novalidate>
            <button type="button" class="btn btn-danger btn-xs" ng-click="confirmDelete(event.title, event)"><i class="fa fa-times"></i></button>
            <h2>{{ event.title || "(empty)" }}</h2>
            <div ng-if="editing !== $index" ng-cloak>
              <div class="pre-edit">
                <label>Date and Time</label>
                <p>{{ event.datetime | date: 'M/d/yyyy h:mma' || "(empty)"}}</p>
              </div>
              <div class="pre-edit">
                <label>Name of Venue</label>
                <p>{{ event.venue || "(empty)" }}</p>
              </div>
              <div class="pre-edit">
                <label>Address of Venue</label>
                <p>{{ event.address || "(empty)" }}</p>
              </div>
              <div class="pre-edit">
                <label>City of Venue</label>
                <p>{{ event.city || "(empty)" }}</p>
              </div>
              <div class="pre-edit" ng-if="(copiedEvent.venue || copiedEvent.address || copiedEvent.city)">
                <label>Map Zoom</label>
                <p>{{ event.zoom || "(empty)" }}</p>
              </div>
              zoom is {{event.zoom}}
              coords are {{event.lat}} {{event.lng}}
              <div>
                <ui-gmap-google-map ng-if="event.lat != null && event.lng != null" center="[event.lng, event.lat]" zoom='event.zoom' options='options'>
                  <!--ui-gmap-marker idKey="$index" coords="[event.lat, event.lng ]">
                  </ui-gmap-marker-->
                </ui-gmap-google-map>
              </div>
              <div class="pre-edit">
                <label>Event Info</label>
                <p>{{ event.info || "(empty)" }}</p>
              </div>
              <div class="pre-edit">
                <label>Event Link</label>
                <p>{{ event.link || "(empty)" }}</p>
              </div>
              <button type="button" class="btn btn-default" ng-click="toggleEdit($index, event)"><i class="fa fa-edit"></i> Edit</button>
            </div>
            <div ng-if="editing === $index" ng-cloak>
              <div class="form-group" ng-class="{ 'has-error' : editForm.title.$invalid && editForm.title.$touched }">
                <label class="control-label">Title</label>
                <input type="text" class="form-control" name="title" ng-model="copiedEvent.title" placeholder="Premiere of the Rite of Spring" required ng-maxlength="82">
                <span class="sr-only">(success)</span>
                <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched">
                  <p ng-message="required">A title is required.</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editForm.datetime.$invalid && editForm.datetime.$touched }">
                <label class="control-label">Date and Time</label>
                <div click-outside="isEditDateCollapsed = true">
                  <div class="dropdown" ng-click="isEditDateCollapsed = !isEditDateCollapsed">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
                      <input type="text" name="date" class="form-control" placeholder="5/19/13 8:00pm" data-ng-model="copiedEvent.datetime" required readonly format-datetime="M/D/YY h:mma" ng-pattern="dateFormat">
                    </a>
                    <ul aria-labelledby="dLabel" ng-hide="isEditDateCollapsed" click-outside="closeEditDate()">
                      <datetimepicker data-ng-model="copiedEvent.datetime" data-on-set-time="isEditDateCollapsed = true"></datetimepicker>
                    </ul>
                  </div>
                </div>
                <span class="sr-only">(success)</span>
                <div class="help-block" ng-messages="editForm.date.$error" ng-if="editForm.date.$touched">
                  <p ng-message="required">A date is required.</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editForm.venue.$invalid && editForm.venue.$touched }">
                <label class="control-label">Name of Venue</label>
                <input type="text" class="form-control" name="venue" ng-model="copiedEvent.venue" placeholder="Théâtre des Champs-Élysées" ng-required="copiedEvent.address || copiedEvent.city">
                <span class="sr-only">(success)</span>
                <div class="help-block" ng-messages="editForm.venue.$error" ng-if="editForm.venue.$touched">
                  <p ng-message="required">A venue name is required if you are adding a location.</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editForm.address.$invalid && editForm.address.$touched }">
                <label class="control-label">Address of Venue</label>
                <input type="text" class="form-control" name="address" ng-model="copiedEvent.address" placeholder="15 avenue Montaigne" ng-required="copiedEvent.venue || copiedEvent.city" valid-address ng-model-options="{ debounce: 750 }" ng-change="updateCopiedCoords()">
                <span class="sr-only">(success)</span>
                <div class="help-block" ng-messages="editForm.address.$error" ng-if="editForm.address.$touched">
                  <p ng-message="required">A venue address is required if you are adding a location.</p>
                  <p ng-message="valid">Invalid address</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editForm.city.$invalid && editForm.city.$touched }">
                <label class="control-label">City of Venue</label>
                <input type="text" class="form-control" name="city" ng-model="copiedEvent.city" placeholder="Paris" ng-required="copiedEvent.venue || copiedEvent.address" ng-model-options="{ debounce: 750 }" ng-change="updateCopiedCoords()">
                <span class="sr-only">(success)</span>
                <div class="help-block" ng-messages="editForm.city.$error" ng-if="editForm.city.$touched">
                  <p ng-message="required">A venue city is required if you are adding a location.</p>
                </div>
              </div>
              <div class="form-group" ng-if="(copiedEvent.venue || copiedEvent.address || copiedEvent.city)" ng-class="{ 'has-error' : editForm.zoom.$invalid && editForm.zoom.$touched }">
                <label>Map Zoom</label>
                <rzslider name="zoom" rz-slider-model="copiedEvent.zoom" rz-slider-floor="1" rz-slider-ceil="20" ng-required="copiedEvent.venue || copiedEvent.address || copiedEvent.city"></rzslider>
              </div>
              <div>
                <ui-gmap-google-map ng-if="copiedEvent.lng && copiedEvent.lat" center="[copiedEvent.lng, copiedEvent.lat]" zoom='copiedEvent.zoom' options='options'>
                  <!--ui-gmap-marker idKey="$index" coords="[event.lat, event.lng ]">
                  </ui-gmap-marker-->
                </ui-gmap-google-map>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editForm.info.$invalid && editForm.info.$touched }">
                <label class="control-label">Event Info</label>
                <textarea type="text" class="form-control" name="info" ng-model="copiedEvent.info" placeholder="The premiere of Stravinsky's 'Rite of Spring.'"></textarea>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editForm.link.$invalid && editForm.link.$touched }">
                <label class="control-label">Event Link</label>
                <input type="url" class="form-control" name="link" ng-model="copiedEvent.link" placeholder="https://en.wikipedia.org/wiki/The_Rite_of_Spring">
                <span class="sr-only">(success)</span>
                <div class="help-block" ng-messages="editForm.link.$error" ng-if="editForm.link.$touched">
                  <p ng-message="url">Invalid URL (Link Must Begin with either 'http://' or 'https://')</p>
                </div>
              </div>
              <div>
                <span>
                  <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">Save</button>
                  <button type="button" class="btn btn-default" ng-click="toggleEdit($index)">Cancel</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
