// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

.login {
  p {
    color: white;
  }
  form label {
    color: white;
  }
}
