<footer class="footer">
  <div class="table">
    <div class="table-cell">
      <button class="button-icon" ng-click="playPause()">
        <svg ng-if="!player.playing" plangular-icon="play"></svg>
        <svg ng-if="player.playing" plangular-icon="pause"></svg>
      </button>
    </div>
    <div class="table-cell">
      <button class="button-icon" ng-click="next()">
        <svg plangular-icon="next"></svg>
      </button>
    </div>
    <div class="table-cell px2 full-width">
      <h3 class="m0">{{ player.currentTrack.user.username }} - {{ player.currentTrack.title }}</h3>
      <progressbar max="1" value="(player.currentTime / player.duration)" ng-click="player.seek($event)"></progressbar>
      <small>{{ player.currentTime | prettyTime }}-{{ player.duration | prettyTime }}</small>
    </div>
  </div>
</footer>
