<footer class="footer">
  <div class="controls">
    <button class="button-icon play" ng-click="player.playPause()" ng-class="{glow: !player.currentTrack}" angular-ripple>
      <i class="fa fa-play fa-lg" ng-if="!player.playing"></i>
      <i class="fa fa-pause fa-lg" ng-if="player.playing"></i>
    </button>
    <button class="button-icon" ng-click="player.previous()" angular-ripple>
      <i class="fa fa-step-backward fa-lg"></i>
    </button>
    <button class="button-icon" ng-click="player.next()" angular-ripple>
      <i class="fa fa-step-forward fa-lg"></i>
    </button>
    <div class="dropup" dropdown>
      <button class="button-icon dropdown-toggle" data-toggle="dropdown" dropdown-toggle angular-ripple>
        <span><i class="fa fa-chevron-up"></i></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu playlist-menu" role="menu" dropdown-menu>
        <a href="https://soundcloud.com/lorenjones-2" target="_blank"><button class="btn-default" angular-ripple><img src="/assets/images/soundcloud_logo.svg" /> Connect</button></a>
        <li ng-repeat="t in player.tracks track by $index" ng-class="{'current': player.currentTrack == t}" ng-click="player.play($index)" angular-ripple>{{t.title}}</li>
      </ul>
    </div>
  </div>
  <div class="track-info" ng-show="player.playing || player.currentTime !== 0">
    <p>{{player.currentTrack.title}}</p>
    <progressbar max="1" value="(player.currentTime / player.duration) || 0" ng-click="player.seek($event)" angular-ripple></progressbar>
    <p ng-show="player.playing || player.currentTime !== null">{{ player.currentTime | prettyTime }} - {{ player.duration | prettyTime }}</p>
  </div>
</footer>
