<footer class="footer">
    <button class="button-icon" ng-click="playPause()">
      <i class="fa fa-play fa-lg" ng-if="!player.playing"></i>
      <i class="fa fa-pause fa-lg" ng-if="player.playing"></i>
    </button>
    <button class="button-icon" ng-click="previous()">
      <i class="fa fa-step-backward fa-lg"></i>
    </button>
    <button class="button-icon" ng-click="next()">
      <i class="fa fa-step-forward fa-lg"></i>
    </button>
    <button class="button-icon">
      <i class="fa fa-chevron-up"></i>
    </button>
    <div class="right">
      <progressbar max="1" value="(player.currentTime / player.duration)" ng-click="player.seek($event)"></progressbar>
    </div>
</footer>
