$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$orange: #ff6633;
$blue: #66b8ac;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Bitter:700);
/**
 * App-wide Styles
 */
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source sans pro', sans-serif;
  font-weight: 400 !important;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-image: url("/assets/images/creampaper.png");
  background-repeat: repeat;
}

.cursor {
  cursor: pointer;
}

.center {
  text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.new-lines {
  white-space: pre-line;
}

// App Structure
#navbar {
  height: 51px;
  opacity: 1;
  z-index: 1000;
  position: relative;
}

.navbar {
  background-color: white;
  border: 0px;
}

.nav li a {
  font-weight: 400;
  &:active {
  }
}
.navbar-default .navbar-nav > a {
  &:hover {
    background-color: lighten(#ff6633, 50%)
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: #ff6633;
  color: white;
  &:hover {
    background-color: #ff6633;
    color: black;
  }
}

.navbar-brand {
  font-weight: 700;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#content {
  .container {
    position: relative;
    z-index: 1;
    padding-top: 51px;
    padding-bottom: 42px;
  }
}

#footer {
  position: fixed;
  height: 42px;
  bottom: 0px;
  z-index: 100;
  width: 100%;
}

.footer {
  //position: absolute;
  //bottom: 0px;
  width: 100%;
  //height: 42px;
  z-index: 100;
  background-color: #f5f5f5;
  height: 42px;
  line-height: 122px;
  .button-icon {
    float: left;
  }
  .progress-bar {
    background-color: $blue;
  }
  .right {
    padding-top: 11px;
  }
}


// Fonts
p {
  font-size: 15px;
  font-weight: 400;
}

// Animations

.repeated-item { }

.repeated-item.ng-move,
.repeated-item.ng-enter,
.repeated-item.ng-leave {
  -webkit-transition:all ease-in-out 0.5s;
  transition:all ease-in-out 0.5s;
}

.repeated-item.ng-leave.ng-leave-active,
.repeated-item.ng-move,
.repeated-item.ng-enter {
  opacity:0;
}

.repeated-item.ng-leave,
.repeated-item.ng-move.ng-move-active,
.repeated-item.ng-enter.ng-enter-active {
  opacity:1;
}


// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/admin_about/admin_about.scss';
@import 'admin/admin_events/admin_events.scss';
@import 'admin/admin_homepage/admin_homepage.scss';
@import 'admin/admin_works/admin_works.scss';
@import 'contact/contact.scss';
@import 'events/events.scss';
@import 'main/main.scss';
@import 'player.scss';
@import 'works/works.scss';
@import 'modal/modal.scss';
// endinjector

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background-image: url("/assets/images/creampaper_@2X.png");
    background-size: 79px 72px;
    background-repeat: repeat;
  }
}
