$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$background-color: #2C2830;
$primary: #4B4452;
$primary-light: #81758C;
$white: #FFFFF9;
$black: #313131;
$dark-gray: #424242;
$light-gray: #F5F5F5;
$blue: #66b8ac;
$orange: #C0362C;
$border-radius-base: 2px;
$border-radius-large: 4px;
$border-radius-small: 1px;

$animation-time: 0.15s;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Cardo:700);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps);

$serif-font: 'Cardo', serif;
$serif-font-bold: 700 !important;
$sans-serif-font: 'Merriweather Sans', sans-serif;
$sans-serif-light: 300 !important;
$sand-serif-normal: 400 !important;

/**
 * App-wide Styles
 */
html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: $sans-serif-font;
  font-weight: $sans-serif-light;
  color: $white;
  overflow-x: hidden;
  background-color: $background-color;
}
h1, h2, h3, h4, h5, h6 {
  color: $white;
}
*:focus {
  outline: none;
}
.cursor {
  cursor: pointer;
}
.center {
  text-align: center;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new-lines {
  white-space: pre-line;
}
.vis-hidden {
  visibility: hidden;
}
input[type="text"], input[type="url"], input[type="number"], input[type="password"], select, textarea {
  background-color: $white !important;
}
.btn {
  color: $white;
}
.btn-default {
  &:hover {
    background-color: lighten($black, 70%) !important;
    color: lighten($black, 10) !important;
  }
}

.list-group-item {
  background-color: #81758C !important;
}
// App Structure
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#alerts {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.alert {
  -webkit-transition: cubic-bezier(.77,.14,.38,.71) 0.5s;
  -o-transition: cubic-bezier(.77,.14,.38,.71) 0.5s;
  transition: cubic-bezier(.77,.14,.38,.71) 0.5s;
  display: block !important;
  opacity: 0.8;
}
#content {
  .container {
    position: relative;
    z-index: 1;
    padding-top: 51px;
    padding-bottom: 84px;
  }
}
.panel-default {
  border-color: $primary-light !important;
}
.panel-body,  {
  background-color: $white !important;
  h3, p {
    color: $black;
  }
}
.panel-heading {
  background-color: $primary-light !important;
  color: $white !important;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  padding: 0px;
  //padding: 0px;
  a {
    div {
      padding: 10px 15px;
      i {
        -webkit-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        &.rotate {
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
        }
      }
    }
    height: 100%;
  }
  &:hover {
    background-color:lighten($primary-light, 17) !important;
    color: $primary !important;
  }
}
#footer {
  position: fixed;
  background-color: $white;
  height: 42px;
  bottom: 0px;
  z-index: 100;
  width: 100%;
}
.footer {
  width: 100%;
  z-index: 100;
  background-color: $white;
  height: 42px;
  line-height: 14px;
  p {
    line-height: 14px;
    margin-bottom: 0px;
    color: $black;
  }
  .button-icon {
    float: left;
  }
  li.current {
    background-color: $orange;
    color: white;
  }
  li {
    cursor: pointer;
    font-size: 14px;
    &:hover {
      background-color: $dark-gray;
      color: $white;
    }
  }
  .right {
    margin-left: 126px;
    margin-top: 0px;
    padding-top: 11px;
  }
  .playlist-menu {
    max-height: 120px;
    overflow: scroll;
    margin-left: 127px;
    margin-bottom: -1px;
    background-color: $white;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: $primary;
    padding: 8px;
    display: block;
    visibility: hidden;
    opacity: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    button {
      height: 20px;
      width: 100%;
      line-height: 100%;
      img {
        height: 100%;
        width: auto;
      }
    }
    li {
      padding: 5px;
    }
  }
  .open .playlist-menu {
    opacity: 1;
    visibility: visible;
  }
  .dropup {
    .dropdown-toggle {
      &:active {
        background-color: $primary;
      }
      &:focus {
        background-color: $orange;
        color: $white;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }
  }
}
.progress {
  height: 14px;
  margin-bottom: 0px;
  cursor: pointer;
  background-color: $white;
  border: 1px $primary solid;
  .progress-bar {
    background-color: $primary;
  }
}
// Fonts
p {
  font-size: 15px;
  font-weight: 400;
}
h1 {
  color: $white;
}
form label {
  color: $white;
}
// Buttons
.btn-default {
  background: $white;
  color: $primary;
  border: none;
  .active {
    background-color: $primary;
    color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  &:hover {
    background-color: $primary-light;
    color: $white;
  }
}
.btn-default.active {
  background-color: $primary;
  color: $white;
}
.flip {
  -webkit-perspective: 800;
  perspective: 800;
  position: relative;
}
.flip .card.flipped {
  -webkit-animation: Flip 2s infinite;
          animation: Flip 2s infinite;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.flip .card {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  -ms-transform: rotatex(-180deg);
      transform: rotatex(-180deg);
}
.inner {
  margin:0px !important;
}
// Animations
@-webkit-keyframes Flip {
  0% { -webkit-transform: rotatex(0deg); -ms-transform: rotatex(0deg); transform: rotatex(0deg); }
  100% { -webkit-transform: rotatex(360deg); -ms-transform: rotatex(360deg); transform: rotatex(360deg); }
}
.alert.ng-enter {
  opacity: 0;
}
.alert.ng-enter-active {
  opacity: 0.8;
}
.alert.ng-leave {
  opacity: 0.8;
}
.alert.ng-leave-active {
  opacity: 0;
}
.light {
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.light.ng-enter {
  opacity: 1;
}
.light.ng-enter-active {
  opacity: 0.8;
}
.light.ng-leave {
  opacity: 0.8;
}
.light.ng-leave-active {
  opacity: 1;
}
.navbar-brand {
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.navbar-brand-add,
.navbar-brand-remove {
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.navbar-brand,
.navbar-brand-add.navbar-brand-active {
  opacity: 1;
}
.navbar-brand-remove.navbar-brand-remove-active {
  opacity: 0;
}
.repeated-item { }
.repeated-item.ng-move,
.repeated-item.ng-enter {
  -webkit-transition:all ease-in-out 0.5s;
  -o-transition:all ease-in-out 0.5s;
  transition:all ease-in-out 0.5s;
}
.repeated-item.ng-move,
.repeated-item.ng-enter {
  opacity:0;
}
.repeated-item.ng-move.ng-move-active,
.repeated-item.ng-enter.ng-enter-active {
  opacity:1;
}
.vis-hidden {
  opacity: 0;
}
[angular-ripple] {
  position: relative;
  overflow: hidden;
}
.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.angular-ripple.animate {
  -webkit-animation: ripple 0.35s linear;
          animation: ripple 0.35s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/login/login.scss';
@import 'admin/admin_about/admin_about.scss';
@import 'admin/admin_events/admin_events.scss';
@import 'admin/admin_playlist/admin_playlist.scss';
@import 'admin/admin_works/admin_works.scss';
@import 'birdseyeview/birdseyeview.scss';
@import 'contact/contact.scss';
@import 'dbw/dbw.scss';
@import 'events/events.scss';
@import 'main/main.scss';
@import 'player.scss';
@import 'sweet-tommy/sweet-tommy.scss';
@import 'woodwards-gardens/woodwards-gardens.scss';
@import 'works/works.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
