.footer {
  $breakpoint: 40em;
  $dark-gray: #203036;
  $red: #f52;
  $green: #0f6;
  $darken-1: rgba(black, 1/16);
  $darken-2: rgba(black, 1/8);
  $darken-3: rgba(black, 1/4);
  $border-radius: 3px;
  button {
    font-size: inherit
  }

  .track-info {
    padding-right: 8px;
  }

  .nav-item {
    text-decoration: none;
    color: $dark-gray;
    &:hover {
      color: $red;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 1em;
    margin-bottom: 0;
    small {
      font-size: 1rem;
    }
    a {
      text-decoration: none;
    }
  }

  .h1 { font-size: 2rem }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .h2 { font-size: 1.5rem }

  h3 {
    font-size: 1rem;
    //font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .h3 { font-size: 1rem }

  p {
    font-size: 1.25rem;
    margin-top: 0;
  }

  ul {
    font-size: 1.25rem;
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: -2rem;
  }

  pre, code, samp, kbd, .monospace {
    font-family: 'Source Code Pro', Consolas, monospace;
    font-size: inherit;
  }

  pre {
    margin-top: 0;
    margin-bottom: 1rem;
    //white-space: pre-wrap;
    //word-break: break-word;
    overflow: scroll;
  }

  small, .h6 { font-size: .75rem }

  @media (min-width: $breakpoint) {
    h1, .h1 { font-size: 3rem }
  }

  .center { text-align: center }
  .nowrap { white-space: nowrap }

  .helvetica {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: 0;
  }

  .m0 { margin: 0; }
  .m1 { margin: 1rem }
  .m2 { margin: 2rem }

  .mt1 { margin-top: 1rem; }
  .mr1 { margin-right: 1rem; }
  .mb1 { margin-bottom: 1rem; }

  .mb4 { margin-bottom: 4rem }

  .p1 { padding: .5rem }
  .p2 { padding: 1rem }
  .p3 { padding: 2rem }
  .p4 { padding: 4rem }

  .px1 { padding-left: .5rem; padding-right: .5rem }
  .px2 { padding-left: 1rem;  padding-right: 1rem }
  .px3 { padding-left: 2rem;  padding-right: 2rem }
  .px4 { padding-left: 4rem;  padding-right: 4rem }

  .py1 { padding-top: .5rem; padding-bottom: .5rem }
  .py2 { padding-top: 1rem;  padding-bottom: 1rem }
  .py3 { padding-top: 2rem;  padding-bottom: 2rem }
  .py4 { padding-top: 4rem;  padding-bottom: 4rem }

  .container {

    margin-left: auto;
    margin-right: auto;
  }

  .full-height { min-height: 100% }
  .full-width { width: 100% }

  .block { display: block; }
  .inline-block { display: inline-block; }
  .hide { display: none; }

  .table {
    display: table;
    width: 100%;
  }

  .table-fixed { table-layout: fixed }

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  .relative { position: relative }
  .absolute { position: absolute }
  .absolute-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .oh { overflow: hidden }
  //.left { float: left }
  //.right { float: right }

  @media (min-width: $breakpoint) {
    .desktop-block { display: block; }
    .desktop-left { float: left }
    .desktop-right { float: right }
  }

  // Buttons
  button, .button {
    font-family: inherit;
    //font-size: inherit;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 2.5em;
    text-decoration: none;
    padding: .25em 1em;
    display: inline-block;
    color: $orange;
    background-color: transparent;
    border: none;
    border-radius: $border-radius;
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    cursor: pointer;
    &:hover {
      color: $dark-gray;
      background-color: $orange;
      //box-shadow: inset 0 0 0 3px $red, 0 0 0 3px white, 0 0 0 5px rgba($red,.5);
      //box-shadow: inset 0 0 0 3px $red, 0 0 0 3px rgba(white,.75), 0 0 0 5px rgba($orange,.5);
      transform: scale(17/16);
    }
    &:focus {
      outline: 0;
      border: none;
      //box-shadow: inset 0 0 0 3px $orange, 0 0 0 3px white, 0 0 0 5px rgba($red,.5);
    }
    &:active {
      border: none;
      transform: scale(31/32);
      background-color: $primary;
    }
  }

  .button-wide {
    padding: .25em 3em;
  }

  .button-circle {
    width: 3em;
    height: 3em;
    line-height: 3em;
    padding: 0;
    border-radius: 50%;
  }

  .play {
    width: 46px;
  }

  .button-icon {
    box-shadow: none;
    &:hover {
      color: $orange;
      background-color: $darken-1;
      box-shadow: none;
    }
    &:focus {
      box-shadow: 0 0 0 3px rgba($red,.5);
    }
  }

  .plangular-icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: (3/16) * 1em;
    top: (7/32) * 1em;
    //top: (4/16) * 1em;
  }

  .plangular-icon-play {
    left: (2/16) * 1em;
  }

  .input-readonly {
    box-sizing: border-box;
    width: 100%;
    padding: 0 .5em;
    line-height: 2em;
    border: none;
    border-radius: $border-radius;
    background-color: $darken-2;
  }

  // Theme
  .red { color: $red }
  .dark-gray { color: $dark-gray }

  .bg-darken-1 { background-color: $darken-1 }
  .bg-darken-2 { background-color: $darken-2 }
  .bg-darken-3 { background-color: $darken-3 }

  .bg-red-alpha { background-color: rgba($red,.125) }

  .rounded { border-radius: $border-radius; }

  .border { box-shadow: inset 0 0 0 2px }

  ::selection { background: rgba($red,.25) }

  // Animations

  @keyframes flicker-in {
      0%   { opacity: 0; transform: scale(.9) }
     50%   { opacity: .75 }
     62.5% { opacity: 0 }
     75%   { opacity: 1 }
     87.5% { opacity: .5 }
    100%   { opacity: 1 }
  }

  @keyframes flicker-out {
      0%   { opacity: 1 }
     25%   { opacity: .75 }
     50% { opacity: 0 }
     75% { opacity: .5 }
    100%   { opacity: 0 }
  }

  .vhs-flicker-in {
    opacity: 0;
    animation-name: flicker-in;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }

  .vhs-flicker-in-out.v-enter {
    animation: flicker-in .4s;
  }

  .vhs-flicker-in-out.v-leave {
    animation: flicker-out .4s forwards;
  }


  @keyframes zoom-in {
      0% { transform: scale(0) }
    100% { transform: scale(1) }
  }

  .vhs-zoom-in {
    transform: scale(0);
    animation-name: zoom-in;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in {
      0% { opacity: 0 }
    100% { opacity: 1 }
  }

  .vhs-fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }


  @keyframes fade-out {
    from { opacity: 1 } to { opacity: 0 }
  }
  .vhs-fade-in-out.v-enter {
    animation: fade-in .2s;
  }
  .vhs-fade-in-out.v-leave {
    animation: fade-out .2s;
  }

  @keyframes pop-in {
      0% { transform: scale(0) }
     75% { transform: scale(1.25) }
    100% { transform: scale(1) }
  }

  .vhs-pop-in {
    transform: scale(0);
    animation-name: pop-in;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .vhs-delay-1 { animation-delay: .1s }
  .vhs-delay-2 { animation-delay: .2s }
  .vhs-delay-3 { animation-delay: .3s }
  .vhs-delay-4 { animation-delay: .4s }

  @keyframes flicker {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }

  .vhs-flicker {
    animation-name: flicker;
    animation-duration: .025s;
    //animation-duration: .1s;
    animation-iteration-count: infinite;
  }

  .transition-opacity { transition: opacity 1s linear }
  .transition-bg { transition: background 1s linear }

  code, pre {
  font-family: 'Source Code Pro', Consolas, Menlo, monospace;
}

.hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.c { color: #999988; font-style: italic; }
.err { color: #a61717; background-color: #e3d2d2; }
.k { font-weight: bold; }
.o { font-weight: bold; }
.cm { color: #999988; font-style: italic; }
.cp { color: #999999; font-weight: bold; }
.c1 { color: #999988; font-style: italic; }
.cs { color: #999999; font-weight: bold; font-style: italic; }
.gd { color: #000000; background-color: #ffdddd; }
.gd .x { color: #000000; background-color: #ffaaaa; }
.ge { font-style: italic; }
.gr { color: #aa0000; }
.gh { color: #999999; }
.gi { color: #000000; background-color: #ddffdd; }
.gi .x { color: #000000; background-color: #aaffaa; }
.go { color: #888888; }
.gp { color: #555555; }
.gs { font-weight: bold; }
.gu { color: #800080; font-weight: bold; }
.gt { color: #aa0000; }
.kc { font-weight: bold; }
.kd { font-weight: bold; }
.kn { font-weight: bold; }
.kp { font-weight: bold; }
.kr { font-weight: bold; }
.kt { color: #445588; font-weight: bold; }
.m { color: #009999; }
.s { color: #dd1144; }
.n { color: #333333; }
.na { color: teal; }
.nb { color: #0086b3; }
.nc { color: #445588; font-weight: bold; }
.no { color: teal; }
.ni { color: purple; }
.ne { color: #990000; font-weight: bold; }
.nf { color: #990000; font-weight: bold; }
.nn { color: #555555; }
.nt { color: navy; }
.nv { color: teal; }
.ow { font-weight: bold; }
.w { color: #bbbbbb; }
.mf { color: #009999; }
.mh { color: #009999; }
.mi { color: #009999; }
.mo { color: #009999; }
.sb { color: #dd1144; }
.sc { color: #dd1144; }
.sd { color: #dd1144; }
.s2 { color: #dd1144; }
.se { color: #dd1144; }
.sh { color: #dd1144; }
.si { color: #dd1144; }
.sx { color: #dd1144; }
.sr { color: #009926; }
.s1 { color: #dd1144; }
.ss { color: #990073; }
.bp { color: #999999; }
.vc { color: teal; }
.vg { color: teal; }
.vi { color: teal; }
.il { color: #009999; }
.gc { color: #999; background-color: #EAF2F5; }

}

.works, .dbw, .sweet-tommy {
  $breakpoint: 40em;
  $dark-gray: #203036;
  $red: #f52;
  $green: #0f6;
  $darken-1: rgba(black, 1/16);
  $darken-2: rgba(black, 1/8);
  $darken-3: rgba(black, 1/4);

  $border-radius: 6px;
  // Buttons
  .button-icon {
    font-family: inherit;
    font-weight: 600;
    height: 42px;
    width: 42px;
    text-decoration: none;
    display: inline-block;
    color: $orange;
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 0 0 3px $orange;
    border-radius: $border-radius;
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    cursor: pointer;
    &:hover {
      color: $dark-gray;
      background-color: $orange;
      box-shadow: inset 0 0 0 3px $orange;
      transform: scale(17/16);
    }
    &:focus {
      outline: 0;
      box-shadow: inset 0 0 0 3px $orange;
    }
    &:active {
      transform: scale(31/32);
      box-shadow: inset 0 2px 6px 0 $darken-3;
    }
  }

  .plangular-icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: (2/16) * 1em;
  }

  .plangular-icon-play {
    left: (2/16) * 1em;
  }
}
