$serif-font: 'Cardo', serif;
$serif-font-bold: 700 !important;
$sans-serif-font: 'Merriweather Sans', sans-serif;
$sans-serif-light: 300 !important;
$sand-serif-normal: 400 !important;

#navbar {
  height: 51px;
  opacity: 1;
  z-index: 1000;
  position: relative;
}

.navbar {
  background-color: transparent;
  border: 0px;
  .container {
    opacity: 1;
  }
  .navbar-toggle {
    background-color: $primary-light !important;
    &:active {
      background-color: $primary-light !important;
    }
  }
  .navbar-toggle.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
  .navbar-toggle {
    border: 2px solid $white;
    background-color: $primary;
    transition: all 0.25s ease-in-out;
    &:hover, &:focus {
      background-color: $white;
      .icon-bar {
        background-color: $background-color;
      }
    }
    .icon-bar {
      width: 22px;
      background-color: $white;
      transition: all 0.25s ease-in-out;
    }
    .top-bar {
      transform: translateX(3px) rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: translateX(3px) rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
}

.nav li a {
  //font-weight: 400;
  &:focus {
    background-color: $primary-light;
    color: $white;
  }
}
.navbar-default .navbar-nav > li > a {
  //background-color: $background-color;
  //color: $white;
}
.navbar-default .navbar-nav > li {
  -webkit-transition-property: background-color, color;
     -moz-transition-property: background-color, color;
       -o-transition-property: background-color, color;
          transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  &:hover, &:focus {
    -webkit-transition-property: background-color, color;
       -moz-transition-property: background-color, color;
         -o-transition-property: background-color, color;
            transition-property: background-color, color;
    -webkit-transition-duration: $animation-time;
       -moz-transition-duration: $animation-time;
         -o-transition-duration: $animation-time;
            transition-duration: $animation-time;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    color: $white !important;
    //background-color: $white;
    a {
      &:hover {
        color: $white;
      }
    }
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: $primary;
  color: $white;
  -webkit-transition-property: background-color, color;
     -moz-transition-property: background-color, color;
       -o-transition-property: background-color, color;
          transition-property: background-color, color;
  -webkit-transition-duration: $animation-time;
     -moz-transition-duration: $animation-time;
       -o-transition-duration: $animation-time;
          transition-duration: $animation-time;
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  &:hover, &:focus {
    background-color: $primary-light;
    color: $primary;
  }
}

.navbar-default .navbar-nav > .open > a {
  //background-color: $primary;
  color: $white;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  //background-color: $primary-light;
  color: $white;
}

.navbar-brand {
  font-family: $serif-font;
  font-weight: $serif-font-bold;
  color: $white !important;
  transition: all ease-in-out 0.5s;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
  margin-left: -1px;
}

.dropdown-menu,
.dropdown-menu > li {
  background-color: $white;
  a:hover {
    background-color: $primary;
    color: $white;
  }
}
.dropdown.open {
  .dropdown-menu {
    li.active a {
      background-color: $primary-light !important;
    }
  }
  a.dropdown-toggle {
    color: $primary !important;
  }
}
.dropdown.open.active {
  a.dropdown-toggle {
    color: $white !important;
  }
}

.navbar-collapse.collapse.in {
  background-color: $primary-light;
  li ul li, li ul {
    //background-color: lighten($primary, 15);
    a {
      color: $primary !important;
    }
  }
  ul li a {
    color: $white;
  }
  li {
    color: $background-color;
  }
  ul li ul {
    background-color: $white;
  }
  ul li a:focus {
    color: $primary !important;
  }
  a:active {
    color: $background-color;
  }
  a:hover {
    color: $white;
  }
}

.nav-tabs {
  border-bottom: 0px;
}

.dark {
  background-color: $background-color;
}

.light {
  background-color: $background-color;
  opacity: 0.95;
}
