<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Loren Jones</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/')}">
          <a ng-href="/" ng-click="isCollapsed = !isCollapsed">Home</a>
        </li>
        <li ng-class="{active: isActive('/about')}">
          <a ng-href="/about" ng-click="isCollapsed = !isCollapsed">About</a>
        </li>
        <li ng-class="{active: isActive('/events')}">
          <a ng-href="/events" ng-click="isCollapsed = !isCollapsed">Events</a>
        </li>
        <li class="dropdown">
          <a ng-href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Works<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-href="/works">All Works</a></li>
            <li><a ng-href="/dbw">Dancing on the Brink of the World</a></li>
          </ul>
        </li>
        <li ng-class="{active: isActive('/contact')}">
          <a ng-href="/contact" ng-click="isCollapsed = !isCollapsed">Contact</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isAdmin()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ getCurrentUser().name }}<span class="caret"></span></a>
          <ul ng-show="isAdmin()" class="dropdown-menu" role="menu">
            <li ng-show="isAdmin()"><a href="/admin/homepage">Homepage</a></li>
            <li ng-show="isAdmin()" class="divider"></li>
            <li ng-show="isAdmin()"><a href="/admin/about">About</a></li>
            <li ng-show="isAdmin()" class="divider"></li>
            <li ng-show="isAdmin()"><a href="/admin/events">Events</a></li>
            <li ng-show="isAdmin()" class="divider"></li>
            <li ng-show="isAdmin()"><a href="/admin/works">Works</a></li>
            <li ng-show="isAdmin()" class="divider"></li>
            <li ng-show="isAdmin()"><a href="/settings">Change Password</a></li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
