#banner {
    border-bottom: none;
}

.hero-unit {
    padding: 30px 15px;
    color: $primary;
    margin-top: -51px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow: hidden;
    .text {
      width: 100%;
      color: $white;
      z-index: 10;
      h1 {
        font-size: 60px;
        line-height: 1;
        font-family: 'Cardo', serif;
        font-weight: 700 !important;
      }
      h2 {
        text-transform: uppercase;
      }
    }
    img {
      position: fixed;
      bottom: 0;
      left: 0;
      max-width: 100%;
      max-height: 100%;
      z-index: -1;
    }
}
