<div id="about" class="container">
  <h1 class="center">Bio</h1>
  <tabset class="col-md-8 col-md-offset-2 col-sm-12">
    <tab ng-repeat="entry in bioEntries" heading="{{entry.title}}" active="entry.active" class="cursor">
      <div class="bio section">
        <p class="new-lines" ng-bind-html="entry.content">{{entry.content}}</p>
      </div>
    </tab>
  </tabset>
</div>

<div class="flickr container">
  <div class="row">
  <h1 class="center">Loren's Photos</h1>
  <a href="http://www.flickr.com/photos/134139109@N08/" target="_blank" title="Follow me on Flickr!" class="link">Follow Loren on <img src="assets/images/about/Flickr_wordmark.svg" width="56" height="26" alt=""> <i class="fa fa-lg fa-external-link-square"></i></a>
</div>

<div class="thumbnails">
  <div ng-repeat="p in pics" class="col-xs-3 col-md-2">
    <a ng-click="openLightboxModal($index)">
      <img ng-src="{{::p.thumbnail}}" class="img-thumbnail">
    </a>
  </div>
</div>
