<div class="container">
  <div>
    <h1>Bio<h1>
  </div>
  <tabset>
    <tab ng-repeat="entry in bioEntries" heading="{{entry.title}}" active="entry.active" disabled="entry.disabled" class="cursor">
      <div class="row col-md-12 bio section">
        <p>{{entry.content}}</p>
      </div>
    </tab>
  </tabset>
  <div class="page-header">
    <h1>Resume<h1>
  </div>
  <div class="resume">
    <ul ng-repeat="(category, entries) in works | groupBy: 'category'">
      <h2>{{ category }}</h2>
      <li ng-repeat="entry in entries">
        <h5>{{ entry.title }}</h5>
        <h6>{{ entry.field1 }}</h6>
      </li>
    </ul>
  </div>
</div>
