<div class="woodwards-garden container">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <h1 class="center">Woodward's Gardens</h1>
  </div>
  <div class="col-xs-12">
    <picture class="cover" picturefill>
      <!--[if IE 9]<video style="display: none;"><![endif]-->
      <!--source srcset="/assets/images/dbw/dbw_poster/dbw_poster.jpg" media="(min-width: 1600px)" /-->
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/assets/images/woodwards_garden/woodwards_garden.jpg 1x, /assets/images/woodwards_garden/woodwards_garden_2x.jpg 2x" />
    </picture>
  </div>
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <p>Woodward’s Gardens was an attraction from San Francisco’s past that’s been mostly forgotten. Located between Mission & Guerrero and Duboce & 15th streets, it was a combination of zoo, aquarium, museum and amusement park in a beautiful garden setting.  During its years of operation (1866-1891) thousands of people came to the gardens to enjoy the surroundings and learn more about their world.</p>
    <p>With the introduction of Golden Gate Park and the death of Mr. Woodward, by the end of the century Woodward’s Gardens was abandoned. The 1906 earthquake and fire destroyed all that remained.</p>
    <p>From 1945 to 2000, my father owned a motorcycle warehouse located on a portion of the old Woodward’s Gardens site, and I spent many years working there.</p>
    <p>The Woodward’s Gardens Suite (cuts 3 through 6) is, a memorial to the original Park, but it’s also a tribute to the time that I spent there, and to the experiences and adventures that formed so much of my life growing up in that part of San Francisco.</p>
    <p>The music was first performed at the original San Francisco Conservatory of Music in 2005.  The CD, created after the concert, includes a guitar duet, a quartet for guitar and winds, a piano four hand piece, three pieces for solo guitar, trios for flute, cello and piano, two pieces for harp, cello and oboe, ending with an ensemble piece for all seven players.</p>
    <a href="http://www.cdbaby.com" target="_blank">
      <button class="btn btn-block btn-primary">Buy Now</button>
    </a>
  </div>
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <ul>
      <li ng-repeat="track in wgTracks track by $index">
        <p>{{$index + 1}}. {{::track.title}}</p>
        <div ng-if="track.url" class="table-cell">
          <button class="button-icon" ng-click="player.playPause(player.trackIndex(track.url))" angular-ripple>
            <i class="fa fa-play fa-lg" ng-if="player.playing.permalink_url !== cleanUrl(track.url)"></i>
            <i class="fa fa-pause fa-lg" ng-if="player.playing.permalink_url === cleanUrl(track.url)"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
