.woodwards-garden {
  $darken-3: rgba(black, 1/4);
  $border-radius: 6px;
  .cover {
    margin-left: auto;
    margin-right: auto;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 24px;
    }
  }
  p {
    text-indent: 25px;
    padding-top: 12px;
    font-size: 18px;
    font-weight: 300;
  }
  small {
    font-size: 14px;
    text-align: center;
  }
  ul {
    -webkit-padding-start: 0px;
  }
  li {
    list-style: none;
  }
  i {
    font-size: 12px;
    vertical-align: top;
  }
  .button-icon {
    font-family: inherit;
    font-weight: 600;
    height: 42px;
    width: 42px;
    text-decoration: none;
    display: inline-block;
    color: $orange;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: inset 0 0 0 3px $orange;
            box-shadow: inset 0 0 0 3px $orange;
    border-radius: $border-radius;
    -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
    transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
    -o-transition-property: color, background-color, box-shadow, transform;
    transition-property: color, background-color, box-shadow, transform;
    transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-duration: .1s;
         -o-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    cursor: pointer;
    &:hover {
      color: $dark-gray;
      background-color: $orange;
      -webkit-box-shadow: inset 0 0 0 3px $orange;
              box-shadow: inset 0 0 0 3px $orange;
      -webkit-transform: scale(17/16);
          -ms-transform: scale(17/16);
              transform: scale(17/16);
    }
    &:focus {
      outline: 0;
      -webkit-box-shadow: inset 0 0 0 3px $orange;
              box-shadow: inset 0 0 0 3px $orange;
    }
    &:active {
      -webkit-transform: scale(31/32);
          -ms-transform: scale(31/32);
              transform: scale(31/32);
      -webkit-box-shadow: inset 0 2px 6px 0 $darken-3;
              box-shadow: inset 0 2px 6px 0 $darken-3;
    }
  }
  .plangular-icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: (2/16) * 1em;
  }
  .plangular-icon-play {
    left: (2/16) * 1em;
  }
  .btn-group {
    padding: 5px 0px 5px 0px;
    button {
      cursor: default;
      &.playpause {
        cursor: pointer !important;
      }
      &:hover {
        background-color: $white !important;
      }
      &:active {
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
      }
    }
  }
  .btn.playpause {
    background-color: $orange;
    color: $white;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    &:focus {
      background-color: $primary-light;
    }
  }
}
