<div class="container">
  <h1>Manage About</h1>
  <h3>Bio Content</h3>
  <form class="thing-form" role="form">
    <label>Add new content to the bio section</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Title for Bio Tab" ng-model="newTitle">
    </p>
    <p class="input-group">
      <textarea type="text" class="form-control" placeholder="Content for Bio" ng-model="newContent" rows="5"></textarea>
    </p>
    <p class="input-group">
      <button type="submit" class="btn btn-primary" ng-click="addEntry(entry)">Add New</button>
    </p>
  </form>
  <ul class="nav nav-tabs nav-stacked col-md-8 col-md-offset-2" ng-repeat="entry in bioEntries">
    <li>
      <button type="button" class="close" ng-click="deleteEntry(entry)">&times;</button>
      <label>{{entry.title}}</label>
      <p>{{entry.content}}</p>
    </li>
  </ul>
</div>
