<div class="admin container">
  <h1 class="col-md-12 text-center">Manage Bio Content</h1>

  <div class="col-md-4">
    <h2>Add Bio Entry</h2>
    <form class="thing-form" name="bioEntryForm" ng-submit="addBioEntry(bioEntryForm.$valid)" novalidate>
      <label>Title of the Bio Tab</label>
      <p class="input-group" ng-class="{ 'has-error' : bioEntryForm.title.$invalid && !bioEntryForm.title.$pristine }">
        <input type="text" name="title" class="form-control" placeholder="Bio Tab Title" ng-model="newTab" required>
        <p ng-show="bioEntryForm.title.$invalid && !bioEntryForm.title.$pristine" class="help-block">A title is required</p>
      </p>
      <label>Bio Content</label>
      <p class="input-group" ng-class="{ 'has-error' : bioEntryForm.content.$invalid && !bioEntryForm.content.$pristine }">
        <textarea type="text" name="content" class="form-control" placeholder="Bio Content" ng-model="newContent" required></textarea>
        <p ng-show="bioEntryForm.content.$invalid && !bioEntryForm.content.$pristine" class="help-block">You must enter content</p>
      </p>
      <p class="input-group">
        <button type="submit" class="btn btn-primary" ng-disabled="bioEntryForm.$invalid">Add New</button>
      </p>
    </form>
  </div>

  <div class="col-md-8">
    <tabset class="row col-md-12">
      <tab ng-repeat="entry in bioEntries" heading="{{entry.title}}" active="entry.active" disabled="entry.disabled" class="cursor">
        <div class="bio section">
          <button type="button" class="btn btn-danger btn-xs" ng-click="confirmDelete(entry.title, entry)"><i class="fa fa-times"></i></button>
          <h2>
            <a href="#" editable-text="entry.title" onaftersave="updateBioEntry(entry)">
              {{ entry.title || "empty" }}
            </a>
          </h2>
          <p class="new-lines">
            <a href="#" editable-textarea="entry.content" ng-bind-html="entry.content || 'empty'" e-rows="12" e-cols="40" e-style="max-height: 500px; max-width: 540px" onaftersave="updateBioEntry(entry)">
              {{ entry.content || "empty" }}
            </a>
          </p>
        </div>
      </tab>
    </tabset>
  </div>
</div>
