<div class="admin container">
  <h1 class="col-md-12 text-center">Manage Bio Content</h1>
  <div class="col-md-4">
    <h2 class="text-center">Add Bio Entry</h2>
    <form name="bioForm" ng-submit="addBioEntry(bioForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-success' : bioForm.title.$valid && bioForm.title.$touched, 'has-error' : bioForm.title.$invalid && bioForm.title.$touched }">
        <label class="control-label">Title of Bio Tab</label>
        <div class="input-group">
          <input type="text" name="title" class="form-control" ng-model="newTab" placeholder="Bio Tab Title" required ng-maxlength="32">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : bioForm.title.$valid && bioForm.title.$touched, 'fa-times' : bioForm.title.$invalid && bioForm.title.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="bioForm.title.$error" ng-if="bioForm.title.$touched">
          <p ng-message="required">Bio title tab is required.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : bioForm.content.$valid && bioForm.content.$touched, 'has-error' : bioForm.content.$invalid && bioForm.content.$touched }">
        <label class="control-label">Bio Content</label>
        <div class="input-group">
          <textarea class="form-control" name="content" ng-model="newContent" placeholder="Bio Content" required ng-maxlength="50000"></textarea>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : bioForm.content.$valid && bioForm.content.$touched, 'fa-times' : bioForm.content.$touched && bioForm.content.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="bioForm.content.$error" ng-if="bioForm.content.$touched">
          <p ng-message="required">Bio content is required.</p>
          <p ng-message="maxlength">Bio content must be less than 50,000 characters.</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block" ng-disabled="bioForm.$invalid">Add New</button>
    </form>
  </div>
  <div class="entries col-md-8">
    <ul ui-sortable="sortableOptions" ng-model="bioEntries" class="nav nav-tabs" data-tabs="tabs">
      <li ng-class="{active: entry.active}" ng-repeat="entry in bioEntries | orderBy: 'index'">
        <a ng-click="toggleEntry(entry._id)" data-toggle="tab" ng-bind="entry.title"></a>
      </li>
    </ul>
    <div class="tab-content bio section">
      <div class="entry tab-pane" ng-class="{active: entry.active}" ng-repeat="entry in bioEntries">
        <button type="button" ng-if="editing === entry._id" class="btn btn-danger btn-xs" ng-click="confirmDelete(entry.title, entry)"><i class="fa fa-times"></i></button>
        <div>
          <span>
            <button class="btn btn-primary" ng-if="editing !== entry._id" ng-click="toggleEdit(entry)"><i class="fa fa-pencil fa-fw"></i> Edit</button>
          </span>
        </div>
        <div ng-if="editing !== entry._id">
          <p ng-bind-html="entry.content"></p>
        </div>
        <div ng-if="editing === entry._id">
          <form ng-if="editing === entry._id" name="editForm" ng-submit="updateBioEntry(copiedEntry)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : editForm.title.$invalid && editForm.title.$touched }">
              <label class="control-label">Title</label>
              <input type="text" name="title" class="form-control" ng-model="copiedEntry.title" required>
              <span class="sr-only">(success)</span>
              <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched">
                <p ng-message="required">A title is required.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : editForm.content.$invalid && editForm.content.$touched }">
              <label class="control-label">Content</label>
              <textarea class="form-control" name="content" ng-model="copiedEntry.content" required></textarea>
              <span class="sr-only">(success)</span>
              <div class="help-block" ng-messages="editForm.content.$error" ng-if="editForm.content.$touched">
                <p ng-message="required">Content is required.</p>
              </div>
            </div>
            <div>
              <span>
                <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">Save</button>
                <button type="button" class="btn btn-default" ng-click="toggleEdit(entry)">Cancel</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--tabset class="bios row col-md-12">
      <tab ng-repeat="entry in bioEntries" heading="{{entry.title}}" active="entry.active" disabled="entry.disabled" class="cursor">
        <div class="bio section">
          <div class="row">
            <button type="button" ng-if="editing === entry._id" class="btn btn-danger btn-xs" ng-click="confirmDelete(entry.title, entry)"><i class="fa fa-times"></i></button>
            <div>
              <span>
              <h2>{{entry.title}}</h2>
              <button class="btn btn-primary" ng-if="editing !== entry._id" ng-click="toggleEdit(entry)"><i class="fa fa-pencil fa-fw"></i> Edit</button>
            </span>
            </div>
            <div ng-if="editing !== entry._id">
              <p ng-bind-html="entry.content"></p>
            </div>
            <div ng-if="editing === entry._id">
              <form ng-if="editing === entry._id" name="editForm" ng-submit="updateBioEntry(copiedEntry)" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : editForm.title.$invalid && editForm.title.$touched }">
                  <label class="control-label">Title</label>
                  <input type="text" name="title" class="form-control" ng-model="copiedEntry.title" required>
                  <span class="sr-only">(success)</span>
                  <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched">
                    <p ng-message="required">A title is required.</p>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : editForm.content.$invalid && editForm.content.$touched }">
                  <label class="control-label">Content</label>
                  <textarea class="form-control" name="content" ng-model="copiedEntry.content" required></textarea>
                  <span class="sr-only">(success)</span>
                  <div class="help-block" ng-messages="editForm.content.$error" ng-if="editForm.content.$touched">
                    <p ng-message="required">Content is required.</p>
                  </div>
                </div>
                <div>
                  <span>
                    <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">Save</button>
                    <button type="button" class="btn btn-default" ng-click="toggleEdit(entry)">Cancel</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </tab>
    </tabset-->
  </div>
</div>
