<div class="container">
  <h1>Manage Playlist</h1>
  <h3>Splash Track</h4>
  <p ng-if="defaultTrack">This is the track that is initially loaded to the site. When a visitor clicks the play button for the first time, the splash track will play.</p>
  <h4>The current splash track is:</h4>
  <code ng-if="defaultTrack" ng-click="confirmDelete('the default track')">{{defaultTrack[0].link}}</code>
  <h4>To change the splash track, copy and paste a track URL from Soundcloud.</h4>
  <div class="col-md-12">
    <form class="thing-form">
      <label>Link</label>
      <p class="input-group">
        <input type="text"
        class="form-control" placeholder="Default Track Link" ng-model="newLink">
      </p>
      <p class="input-group">
        <button type="submit" class="btn btn-primary" ng-click="addDefaultTrack()">Save Track</button>
      </p>
    </form>
  </div>
  <div class="col-md-12">
    <ul ui-sortable="sortableOptions" ng-model="player.tracks">
      <li ng-repeat="track in player.tracks track by $index">{{$index}}. {{ track.title }}</li>
    </ul>
  </div>
</div>
