.panel {
  overflow: hidden;
  background: #1d2b64;
  background: radial-gradient(circle farthest-side at right bottom, #fefdfe 5%, #f8cdda 25%, #1d2b64 80%, #0e153a 98%);
  a {
    cursor: pointer;
  }
}
