.panel-title {
  a:focus {
    outline: none;
  }
}

.panel {
  a {
    cursor: pointer;
  }
}

.works {
  position: relative;
  z-index: -1;
  color: $black;
  h3 {
    padding-bottom: 16px;
  }
}

.projects {
  .btn.playpause {
    background-color: $orange;
    color: $white;
    transition: 0.15s all ease-in-out;
    &:focus {
      background-color: $primary-light;
    }
  }
}

.instrumentation {
  margin-top: -20px;
  font-style: italic;
}
