<div class="container">
  <h1 class="center">Works</h1>
  <accordion class="works col-md-8 col-md-offset-2 col-sm-12">
    <accordion-group ng-init="status.open = $first" is-open="status.open" ng-repeat="(category, works) in allWorks | groupBy: 'category'">
      <accordion-heading>
        <div>
        {{ ::category }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </div>
      </accordion-heading>
      <div class="panel" ng-repeat="work in works | orderBy: 'date':true">
        <h3>
          {{ work.title }} ({{ work.date }})
          <button ng-class="{'active': isCollapsed}" class="btn btn-default btn-xs info" ng-if="(work.info || work.link)" ng-click="toggle(work._id)" angular-ripple>
            {{ info == work._id ? 'Less Info' : 'More Info' }}
          </button>
        </h3>
        <p class="instrumentation">{{ work.instrumentation }}</p>
        <div ng-if="work.audio" class="table">
          <div class="table-cell">
            <button class="button-icon" ng-click="player.playPause(player.trackIndex(work.audio))" angular-ripple>
              <i class="fa fa-play fa-lg" ng-if="player.playing.permalink_url !== cleanUrl(work.audio)"></i>
              <i class="fa fa-pause fa-lg" ng-if="player.playing.permalink_url === cleanUrl(work.audio)"></i>
            </button>
          </div>
          <div class="">
            <progressbar ng-if="player.currentTrack.permalink_url === cleanUrl(work.audio)" max="1" value="(player.currentTime / player.duration) || 0" ng-click="player.seek($event)" angular-ripple></progressbar>
            <small ng-if="player.currentTrack.permalink_url === cleanUrl(work.audio)">{{ currentTime | prettyTime }} - {{ duration | prettyTime }}</small>
          </div>
        </div>
  	    <div ng-if="(work.info || work.link || work.video)" collapse="info === work._id">
  		    <div class="well well-lg">
            <p ng-bind-html="work.info">{{ work.info }}</p>
            <p>{{ work.link }}</p>
            <a ng-if="work.link" ng-href="{{work.link}}">Link to the Score <i class="fa fa-external-link"></i></a>
            <youtube-video video-url="work.video" player-width="'100%'"></youtube-video>
          </div>
  	    </div>
      </div>
    </accordion-group>
  </accordion>
</div>
