<div class="container">
  <accordion>
    <accordion-group ng-init="status.open = $first" is-open="status.open" ng-repeat="(category, works) in works | groupBy: 'category'">
      <accordion-heading>
        {{ category }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      <div ng-repeat="work in works">
        {{ work.title }} ({{ work.date }})
      </div>
    </accordion-group>
  </accordion>
</div>
