<div class="container">

  <div class="col-md-12">
    <form class="thing-form">
      <label>Title of the Work</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Work Title" ng-model="newTitle">
      </p>
      <label>Category of the Work</label>
      <p class="input-group">
        <select ng-model="newCategory">
          <option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
        </select>
      </p>
      <label>Date of the Work</label>
      <p class="input-group">
        <input type="number" class="form-control" placeholder="Work Date" ng-model="newDate" ng-init="newDate = 2013">
      </p>
      <label>Link to Score of the Work</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Link to Score" ng-model="newScore">
      </p>
      <p class="input-group">
        <button type="submit" class="btn btn-primary" ng-click="addWork()">Add New</button>
      </p>
    </form>
  </div>

  <accordion class="col-md-12">
    <accordion-group ng-init="status.open = $first" is-open="status.open" ng-repeat="(category, works) in works | groupBy: 'category'">
      <accordion-heading>
        {{ category }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      <div ng-repeat="work in works | orderBy: 'date':true">
        {{ work.title }} ({{ work.date }})
        <button type="button" class="btn btn-danger" ng-click="deleteWork(work)">Delete</button>
      </div>
    </accordion-group>
  </accordion>
</div>
