.admin-works {
  h2, label, p {
    color: $black;
  }
  .btn-xs.btn-danger {
    float: right;
  }
}

select {
  border-radius: 0px;
}

.selectpicker {
  border-top-right-radius: 0px;
}

.works-input {
  textarea {
    resize: vertical;
  }
}
