<div class="admin container">
  <h1 class="col-md-12 text-center">Manage Works</h1>
  {{worksOrder}}
  <div class="works-input col-md-4">
    <h2 class="text-center">Add Work</h2>
    <form name="worksForm" ng-submit="addWork(worksForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.title.$valid && worksForm.title.$touched, 'has-error' : worksForm.title.$touched && worksForm.title.$invalid }">
        <label class="control-label">Title</label>
        <div class="input-group">
          <input type="text" name="title" class="form-control" ng-model="newWork.title" placeholder="Sonata for Bassoon and Piano" required ng-maxlength="80">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.title.$valid && worksForm.title.$touched, 'fa-times' : worksForm.title.$invalid && worksForm.title.$touched, 'fa-asterisk' : worksForm.title.$untouched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.title.$error" ng-if="worksForm.title.$touched">
          <p ng-message="required">A title is required.</p>
          <p ng-message="maxlength">The title must be under 80 characters long.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.category.$valid && worksForm.category.$touched, 'has-error' : worksForm.category.$touched && worksForm.category.$invalid }">
        <label class="control-label">Category of the Work</label>
        <div class="input-group">
          <select ng-model="newWork.category" name="category" class="selectpicker form-control" ng-options="g as g for g in groups" required></select>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.category.$valid && worksForm.category.$touched, 'fa-times' : worksForm.category.$invalid && worksForm.category.$touched, 'fa-asterisk' : worksForm.category.$untouched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.category.$error" ng-if="worksForm.category.$touched">
          <p ng-message="required">You must choose a category</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.date.$valid && worksForm.date.$touched, 'has-error' : worksForm.date.$touched && worksForm.date.$invalid }">
        <label class="control-label">Year of the Work</label>
        <div class="input-group">
          <input type="number" name="date" class="form-control" ng-model="newWork.date" placeholder="{{currentYear}}" ng-click="!newWork.date ? newWork.date = 2015 : newWork.date = newWork.date" required>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.date.$valid && worksForm.date.$touched, 'fa-times' : worksForm.date.$invalid && worksForm.date.$touched, 'fa-asterisk' : worksForm.date.$untouched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.date.$error" ng-if="worksForm.date.$touched">
          <p ng-message="required">You must enter a date</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.instrumentation.$valid && worksForm.instrumentation.$touched && newInstrumentation, 'has-error' : worksForm.instrumentation.$touched && worksForm.instrumentation.$invalid }">
        <label class="control-label">Instrumentation</label>
        <div class="input-group">
          <input type="text" name="instrumentation" class="form-control" placeholder="bassoon and piano" ng-model="newWork.instrumentation">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.instrumentation.$valid && worksForm.instrumentation.$touched && newInstrumentation, 'fa-times' : worksForm.instrumentation.$invalid && worksForm.instrumentation.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.info.$valid && worksForm.info.$touched && newInfo, 'has-error' : worksForm.info.$touched && worksForm.info.$invalid }">
        <label class="control-label">Information</label>
        <div class="input-group">
          <textarea name="info" class="form-control" placeholder="Work Info" ng-model="newWork.info"></textarea>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.info.$valid && worksForm.info.$touched && newInfo, 'fa-times' : worksForm.info.$touched && worksForm.info.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.score.$valid && worksForm.score.$touched && newLink, 'has-error' : worksForm.score.$touched && worksForm.score.$invalid }">
        <label class="control-label">Purchase Link</label>
        <div class="input-group">
          <input type="url" name="score" class="form-control" placeholder="http://www.sheetmusicplus.com/title/rite-of-spring-sheet-music/1573215" ng-model="newWork.link">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.score.$valid && worksForm.score.$touched && newLink, 'fa-times' : worksForm.score.$touched && worksForm.score.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.score.$error" ng-if="worksForm.score.$touched">
          <p ng-message="url">Invalid URL</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.audio.$valid && worksForm.audio.$touched && newWork.audio, 'has-error' : worksForm.audio.$touched && worksForm.audio.$invalid }">
        <label class="control-label">Soundcloud Link</label>
        <a href="https://soundcloud.com/lorenjones-2" target="_blank"><i>Visit Soundcloud</i></a>
        <div class="input-group">
          <input type="url" name="audio" class="form-control" placeholder="https://soundcloud.com/louis-cruz/sonata-for-bassoon-and-piano-i" ng-model="newWork.audio" ng-model-options="{debounce: {'default': 500}}" autocomplete="off" unique-url valid-url>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.audio.$valid && worksForm.audio.$touched && newWork.audio, 'fa-times' : worksForm.audio.$touched && worksForm.audio.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        {{worksForm.audio.$valid}}
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.audio.$error" ng-if="worksForm.audio.$touched">
          <p ng-message="url">Invalid URL</p>
          <p ng-message="uniqueUrl">This track is already loaded in the global audio player.</p>
          <p ng-message="validUrl">This is not a valid Soundcloud URL.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.video.$valid && worksForm.video.$touched && newVido, 'has-error' : worksForm.video.$touched && worksForm.video.$invalid }">
        <label class="control-group">Youtube Link</label>
        <a href="https://www.youtube.com/channel/UCGKWKYNw0NStXUYvuFairfA/videos" target="_blank"><i>Visit Youtube</i></a>
        <div class="input-group">
          <input type="url" name="video" class="form-control" placeholder="https://www.youtube.com/watch?v=NA13W7IAjXk" ng-model="newWork.video">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.video.$valid && worksForm.video.$touched && newVideo, 'fa-times' : worksForm.video.$touched && worksForm.video.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.video.$error" ng-if="worksForm.video.$touched">
          <p ng-message="url">Invalid URL</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block" ng-disabled="worksForm.$invalid || worksTracks.indexOf(newWork.audio) !== -1">Add New</button>
    </form>
  </div>
  <accordion class="col-md-8">
    <accordion-group ng-init="status.open = $first" is-open="status.open" ng-repeat="(category, works) in works | groupBy: 'category' | orderBy: 'category'">
      <accordion-heading>
        <div angular-ripple>
          {{ category }} <i class="pull-right fa fa-chevron-right" ng-class="{'rotate': status.open, '': !status.open}"></i>
        </div>
      </accordion-heading>
      <div class="admin-works" ng-repeat="work in works | orderBy: ['-date', 'title']">
        <div>
          <button type="button" class="btn btn-danger btn-xs" ng-click="confirmDelete(work.title, work)"><i class="fa fa-times"></i></button>
          <h2>{{ work.title }}</h2>
          <button ng-if="editing !== work._id" class="btn btn-primary" ng-click="toggleEdit(work)"><i class="fa fa-pencil fa-fw"></i> Edit</button>
        </div>
        {{}}
        <div ng-if="editing !== work._id">
          <label>Category</label>
          <p>{{ work.category }}</p>
          <label>Year</label>
          <p>{{ work.date }}</p>
          <label>Instrumentation</label>
          <p>{{ work.instrumentation || 'empty'}}</p>
          <label>Info</label>
          <p ng-if="work.info" ng-bind-html="work.info"></p>
          <p ng-if="!work.info">empty</p>
          <label>Link</label>
          <p ng-if="work.link"><a href="work.link" target="_blank">{{ work.link }}</a></p>
          <p ng-if="!work.link">empty</p>
          <label>Audio</label>
          <p ng-if="work.audio"><a href="{{work.audio}}" target="_blank">{{ work.audio }}</a></p>
          <p ng-if="!work.audio">empty</p>
          <label>Video</label>
          <p ng-if="work.video"><a href="work.video" target="_blank">{{ work.video }}</a></p>
          <p ng-if="!work.video">empty</p>
        </div>
        <div ng-if="editing === work._id">
          <form name="editForm" ng-submit="updateWork(copiedWork); toggleEdit(work)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : editForm.title.$invalid && editForm.title.$touched }">
              <label class="control-label">Title</label>
              <input type="text" name="title" class="form-control" ng-model="copiedWork.title" required>
              <span class="sr-only">(success)</span>
              <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched">
                <p ng-message="required">You must enter a title</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : editForm.category.$invalid && editForm.category.$touched }">
              <label class="control-label">Category</label>
              <select ng-model="copiedWork.category" name="category" class="selectpicker form-control" ng-options="g as g for g in groups" required></select>
              <span class="sr-only">(success)</span>
              <div class="help-block" ng-messages="editForm.category.$error" ng-if="editForm.category.$touched">
                <p ng-message="required">You must enter a category.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : editForm.date.$invalid && editForm.date.$touched }">
              <label class="control-label">Year</label>
              <input type="number" name="date" class="form-control" ng-model="copiedWork.date" required>
              <span class="sr-only">(success)</span>
              <div class="help-block" ng-messages="editForm.date.$error" ng-if="editForm.date.$touched">
                <p ng-message="required">You must enter a year.</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Instrumentation</label>
              <input type="text" name="instrumentation" class="form-control" ng-model="copiedWork.instrumentation" placeholder="bassoon and piano">
            </div>
            <div class="form-group">
              <label class="control-label">Info</label>
              <textarea name="info" class="form-control" ng-model="copiedWork.info" placeholder="My Sonata for bassoon and piano was written in 2015."></textarea>
            </div>
            <div class="form-group">
              <label class="control-label">Link to Score</label>
              <input type="text" name="link" class="form-control" ng-model="copiedWork.link" placeholder="http://www.cdbaby.com/cd/mitsumoto">
            </div>
            <div class="form-group" ng-class="{ 'has-error' : editForm.audio.$invalid && editForm.audio.$touched }">
              <label class="control-label">Soundcloud Link</label>
              <input type="url" name="audio" class="form-control" ng-model="copiedWork.audio" placeholder="https://soundcloud.com/lorenjones-2/4-februarys-children-1" ng-model-options="{debounce: {'default': 500}}" autocomplete="off" unique-url valid-url>
              <!--input type="url" name="audio" class="form-control" ng-model="copiedWork.audio" placeholder="https://soundcloud.com/lorenjones-2/4-februarys-children-1"-->
              <span class="sr-only">(success)</span>
              <div class="help-block" ng-messages="editForm.audio.$error" ng-if="editForm.audio.$touched">
                <p ng-message="url">Invalid URL (must begin with https:// or http://)</p>
                <p ng-message="uniqueUrl">This track is already loaded into the global audio player.</p>
                <p ng-message="validUrl">Invalid Soundcloud URL.</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Youtube Link</label>
              <input type="text" name="video" class="form-control" ng-model="copiedWork.video" placeholder="https://www.youtube.com/watch?v=wAcCKUTiiHE">
            </div>
            <div>
              <span>
                <!-- Make sure to change editForm.$pristine disabling to check to see if the work === cachedWork -->
                <button class="btn btn-primary" type="submit" ng-disabled="!editForm.$valid || sameAsCache(copiedWork)">Save</button>
                <button type="button" class="btn btn-default" ng-click="toggleEdit(work)">Cancel</button>
              </span>
            </div>
          </form>
        </div>
        <hr>
      </div>
    </accordion-group>
  </accordion>
</div>
