<div class="admin container">
  <h1 class="col-md-12 text-center">Manage Works</h1>
  <div class="works-input col-md-3">
    <h2>Add Work</h2>
    <form name="worksForm" ng-submit="addWork(worksForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.title.$valid && worksForm.title.$touched, 'has-error' : worksForm.title.$touched && worksForm.title.$invalid }">
        <label class="control-label">Title</label>
        <div class="input-group">
          <input type="text" name="title" class="form-control" ng-model="newTitle" placeholder="Sonata for Bassoon and Piano" required ng-maxlength="80">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.title.$valid && worksForm.title.$touched, 'fa-times' : worksForm.title.$invalid && worksForm.title.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.title.$error" ng-if="worksForm.title.$touched">
          <p ng-message="required">A title is required.</p>
          <p ng-message="maxlength">The title must be under 80 characters long.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.category.$valid && worksForm.category.$touched, 'has-error' : worksForm.category.$touched && worksForm.category.$invalid }">
        <label class="control-label">Category of the Work</label>
        <div class="input-group">
          <select ng-model="newCategory" name="category" class="selectpicker form-control" ng-options="g as g for g in groups" required></select>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.category.$valid && worksForm.category.$touched, 'fa-times' : worksForm.category.$invalid && worksForm.category.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.category.$error" ng-if="worksForm.category.$touched">
          <p ng-message="required">You must choose a category</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.date.$valid && worksForm.date.$touched, 'has-error' : worksForm.date.$touched && worksForm.date.$invalid }">
        <label class="control-label">Year of the Work</label>
        <div class="input-group">
          <input type="number" name="date" class="form-control" ng-model="newDate" ng-click="initDate(worksForm.date.$touched)" required>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.date.$valid && worksForm.date.$touched, 'fa-times' : worksForm.date.$invalid && worksForm.date.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.date.$error" ng-if="worksForm.date.$touched">
          <p ng-message="required">You must enter a date</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.instrumentation.$valid && worksForm.instrumentation.$touched && newInstrumentation, 'has-error' : worksForm.instrumentation.$touched && worksForm.instrumentation.$invalid }">
        <label class="control-label">Instrumentation</label>
        <div class="input-group">
          <input type="text" name="instrumentation" class="form-control" placeholder="bassoon and piano" ng-model="newInstrumentation">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.instrumentation.$valid && worksForm.instrumentation.$touched && newInstrumentation, 'fa-times' : worksForm.instrumentation.$invalid && worksForm.instrumentation.$touched }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.info.$valid && worksForm.info.$touched && newInfo, 'has-error' : worksForm.info.$touched && worksForm.info.$invalid }">
        <label class="control-label">Information</label>
        <div class="input-group">
          <textarea name="info" class="form-control" placeholder="Work Info" placeholder="David Nagy approached me in the winter of 2014 ..." ng-model="newInfo"></textarea>
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.info.$valid && worksForm.info.$touched && newInfo, 'fa-times' : worksForm.info.$touched && worksForm.info.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.score.$valid && worksForm.score.$touched && newLink, 'has-error' : worksForm.score.$touched && worksForm.score.$invalid }">
        <label class="control-label">Link to Score</label>
        <div class="input-group">
          <input type="url" name="score" class="form-control" placeholder="http://www.sheetmusicplus.com/title/rite-of-spring-sheet-music/1573215" ng-model="newLink">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.score.$valid && worksForm.score.$touched && newLink, 'fa-times' : worksForm.score.$touched && worksForm.score.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.score.$error" ng-if="worksForm.score.$touched">
          <p ng-message="url">Invalid URL</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.audio.$valid && worksForm.audio.$touched && newAudio, 'has-error' : worksForm.audio.$touched && worksForm.audio.$invalid }">
        <label class="control-label">Link to Audio</label>
        <div class="input-group">
          <input type="url" name="audio" class="form-control" placeholder="https://soundcloud.com/louis-cruz/sonata-for-bassoon-and-piano-i" ng-model="newAudio">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.audio.$valid && worksForm.audio.$touched && newAudio, 'fa-times' : worksForm.audio.$touched && worksForm.audio.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.audio.$error" ng-if="worksForm.audio.$touched">
          <p ng-message="url">Invalid URL</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success' : worksForm.video.$valid && worksForm.video.$touched && newVido, 'has-error' : worksForm.video.$touched && worksForm.video.$invalid }">
        <label class="control-group">Link to Video</label>
        <div class="input-group">
          <input type="url" name="video" class="form-control" placeholder="https://www.youtube.com/watch?v=NA13W7IAjXk" ng-model="newVideo">
          <span class="input-group-addon">
            <span class="fa fa-fw form-control-feedback" ng-class="{ 'fa-check' : worksForm.video.$valid && worksForm.video.$touched && newVideo, 'fa-times' : worksForm.video.$touched && worksForm.video.$invalid }" aria-hidden="true"></span>
          </span>
        </div>
        <span class="sr-only">(success)</span>
        <div class="help-block" ng-messages="worksForm.video.$error" ng-if="worksForm.video.$touched">
          <p ng-message="url">Invalid URL</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block" ng-disabled="worksForm.$invalid || worksTracks.indexOf(newAudio) !== -1">Add New</button>
    </form>
  </div>

  <accordion class="col-md-9">
    <accordion-group ng-init="status.open = $first" is-open="status.open" ng-repeat="(category, works) in works | groupBy: 'category'">
      <accordion-heading>
        <div>
          {{ category }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </div>
      </accordion-heading>
      <div class="admin-works" ng-repeat="work in works | orderBy: 'date':true">
        <div>
          <h3>
            <a href="#" editable-text="work.title" onaftersave="updateWork(work)">
              {{ work.title || "empty" }}
            </a>
            <button type="button" class="btn btn-danger btn-xs" ng-click="confirmDelete(work.title, work)"><i class="fa fa-times"></i></button>
          </h3>
        </div>
        <label>Category</label>
        <div>
          <a href="#" editable-select="work.category" e-ng-options="g as g for g in groups" onaftersave="updateWork(work)">
            {{ work.category || "empty" }}
          </a>
        </div>
        <label>Date</label>
        <div>
          <a href="#" editable-number="work.date" onaftersave="updateWork(work)">
            {{ work.date || "empty" }}
          </a>
        </div>
        <label>Instrumentation</label>
        <div>
          <a href="#" editable-text="work.instrumentation" onaftersave="updateWork(work)">
            {{ work.instrumentation || "empty" }}
          </a>
        </div>
        <label>Info</label>
        <div>
          <a href="#" editable-textarea="work.info" e-rows="7" e-cols="40" ng-bind-html="work.info || 'empty'" onaftersave="updateWork(work)">
            {{ work.info || "empty" }}
          </a>
        </div>
        <label>Link</label>
        <div>
          <a href="#" editable-text="work.link" onaftersave="updateWork(work)">
            {{ work.link || "empty" }}
          </a>
        </div>
        <label>Audio</label>
        <div>
          <a href="#" editable-text="work.audio" onshow="cacheWork(work)" onbeforesave="checkUrl($data)" onaftersave="updateWork(work)">
            {{ work.audio || "empty" }}
          </a>
          <button type="button" class="btn btn-danger btn-xs" ng-if="work.audio" ng-click="clearWorkTrack(work)">remove</button>
        </div>
        <label>Video</label>
        <div>
          <a href="#" editable-text="work.video" onaftersave="updateWork(work)">
            {{ work.video || "empty" }}
          </a>
        </div>
        <hr>
      </div>
    </accordion-group>
  </accordion>
</div>
