<div class="dbw parallax col-md-12">
  <section id="title" class="vertical-center splash photo">
    <div class="parallax-txt vertical-center text-center" du-parallax y="titleBackground" opacity="fadeOut">
      <h1 class="container">Dancing on the Brink of the World</h1>
    </div>
    <div class="wrapper">
      <!--img class="parallax-img" src="/assets/images/dbw/dbw_poster/dbw_poster_cut.jpg" du-parallax y="background"/-->
      <picture class="parallax-img" picturefill du-parallax y="background">
        <!--[if IE 9]<video style="display: none;"><![endif]-->
        <source srcset="/assets/images/dbw/dbw_poster/dbw_poster.jpg" media="(min-width: 1600px)" />
        <source srcset="/assets/images/dbw/dbw_poster/dbw_poster_xl.jpg 1x, /assets/images/dbw/dbw_poster/dbw_poster_xl_2x.jpg 2x" pf-media="screen-lg"/>
        <source srcset="/assets/images/dbw/dbw_poster/dbw_poster_lg.jpg 1x, /assets/images/dbw/dbw_poster/dbw_poster_lg_2x.jpg 2x" pf-media="screen-md"/>
        <source srcset="/assets/images/dbw/dbw_poster/dbw_poster_md.jpg 1x, /assets/images/dbw/dbw_poster/dbw_poster_md_2x.jpg 2x" pf-media="screen-sm"/>
        <source srcset="/assets/images/dbw/dbw_poster/dbw_poster_sm.jpg 1x, /assets/images/dbw/dbw_poster/dbw_poster_sm_2x.jpg 2x" media="(max-width: 767px)"/>
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/dbw/dbw_poster/dbw_poster.jpg" />
      </picture>
    </div>
  </section>
  <section class="vertical-center ohlone content">
    <div class="container">
      <h1 data-fittext data-fittext-max="170">A History of San Francisco</h1>
      <h2>1600 - Present</h1>
      <h3 data-fittext data-fittext-max="170">for orchestra and period instruments</h2>
    </div>
    <div class="background"></div>
  </section>
  <section class="panoramas">
    <div class="hor-photo one" du-parallax opacity="fadeInOut">
      <picture class="hor-parallax-img" picturefill>
        <!--[if IE 9]<video style="display: none;"><![endif]-->
        <source srcset="/assets/images/dbw/panorama1/panorama1.jpg 1x, /assets/images/dbw/panorama1/panorama1_2x.jpg 2x" media="(min-width: 1500px)"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_xl.jpg 1x, /assets/images/dbw/panorama1/panorama1_xl_2x.jpg 2x" pf-media="screen-lg"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_lg.jpg 1x, /assets/images/dbw/panorama1/panorama1_lg_2x.jpg 2x" pf-media="screen-md"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_md.jpg 1x, /assets/images/dbw/panorama1/panorama1_md_2x.jpg 2x" pf-media="screen-sm"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_sm.jpg 1x, /assets/images/dbw/panorama1/panorama1_sm_2x.jpg 2x" media="(min-width: 480px)"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_xs.jpg 1x, /assets/images/dbw/panorama1/panorama1_xs_2x.jpg 2x" media="(max-width: 480px)"/>
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/dbw/panorama1/panorama1.jpg" />
      </picture>
    </div>
    <div class="hor-photo two" du-parallax opacity="fadeInOut">
      <picture class="hor-parallax-img" picturefill>
        <!--[if IE 9]<video style="display: none;"><![endif]-->
        <source srcset="/assets/images/dbw/panorama2/panorama2.jpg 1x, /assets/images/dbw/panorama2/panorama2_2x.jpg 2x" media="(min-width: 1500px)"/>
        <source srcset="/assets/images/dbw/panorama2/panorama2_xl.jpg 1x, /assets/images/dbw/panorama2/panorama2_xl_2x.jpg 2x" pf-media="screen-lg"/>
        <source srcset="/assets/images/dbw/panorama2/panorama2_lg.jpg 1x, /assets/images/dbw/panorama2/panorama2_lg_2x.jpg 2x" pf-media="screen-md"/>
        <source srcset="/assets/images/dbw/panorama2/panorama2_md.jpg 1x, /assets/images/dbw/panorama2/panorama2_md_2x.jpg 2x" pf-media="screen-sm"/>
        <source srcset="/assets/images/dbw/panorama2/panorama2_sm.jpg 1x, /assets/images/dbw/panorama2/panorama2_sm_2x.jpg 2x" media="(min-width: 480px)"/>
        <source srcset="/assets/images/dbw/panorama2/panorama2_xs.jpg 1x, /assets/images/dbw/panorama2/panorama2_xs_2x.jpg 2x" media="(max-width: 480px)"/>
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/dbw/panorama2/panorama2.jpg" />
      </picture>
    </div>
    <div class="hor-photo three" du-parallax opacity="fadeInOut">
      <picture class="hor-parallax-img" picturefill>
        <!--[if IE 9]<video style="display: none;"><![endif]-->
        <source srcset="/assets/images/dbw/panorama3/panorama3.jpg 1x, /assets/images/dbw/panorama3/panorama3_2x.jpg 2x" media="(min-width: 1500px)"/>
        <source srcset="/assets/images/dbw/panorama3/panorama3_xl.jpg 1x, /assets/images/dbw/panorama3/panorama3_xl_2x.jpg 2x" pf-media="screen-lg"/>
        <source srcset="/assets/images/dbw/panorama3/panorama3_lg.jpg 1x, /assets/images/dbw/panorama3/panorama3_lg_2x.jpg 2x" pf-media="screen-md"/>
        <source srcset="/assets/images/dbw/panorama3/panorama3_md.jpg 1x, /assets/images/dbw/panorama3/panorama3_md_2x.jpg 2x" pf-media="screen-sm"/>
        <source srcset="/assets/images/dbw/panorama3/panorama3_sm.jpg 1x, /assets/images/dbw/panorama3/panorama3_sm_2x.jpg 2x" media="(min-width: 480px)"/>
        <source srcset="/assets/images/dbw/panorama3/panorama3_xs.jpg 1x, /assets/images/dbw/panorama3/panorama3_xs_2x.jpg 2x" media="(max-width: 480px)"/>
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/dbw/panorama3/panorama3.jpg" />
      </picture>
    </div>
  </section>
  <section class="movements content">
    <div class="container">
      <div class="col-xs-3 vertical-center">
        <div>
          <tabset vertical="true" type="pills">
            <tab ng-repeat="movement in movements track by $index" heading="{{::movement.title}}" ng-click="changeInfo(movement)" class="cursor">
            </tab>
          </tabset>
        </div>
      </div>
      <div class="col-xs-9 movement-content vertical-center">
        <div class="tab-content">
          <small><i>* = sample track available</i></small>
          <div ng-repeat="m in dbwMovements track by $index">
            <div ng-if="currentMovement.movement === m.movement" class="table">
              <div class="table-cell">
                <button class="button-icon" ng-click="player.playPause(player.trackIndex(m.audio))" angular-ripple>
                  <i class="fa fa-play fa-lg" ng-if="cleanUrl(player.playing.permalink_url) !== cleanUrl(m.audio)"></i>
                  <i class="fa fa-pause fa-lg" ng-if="cleanUrl(player.playing.permalink_url) === cleanUrl(m.audio)"></i>
                </button>
              </div>
            </div>
          </div>
          <h3 data-fittext data-fittext-max="80">{{currentMovement.title}}</h3>
          <h4>{{currentMovement.year}}</h4>
          <h4 ng-if="currentMovement.subtitle">{{currentMovement.subtitle}}</h4>
          <p>{{currentMovement.content}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="vertical-center history content">
    <div class="container">
      <div class="row">
        <h1>It started off as an idea that came in the middle of the night.</h1>
      </div>
    </br>
      <div class="col-sm-8 col-sm-offset-2">
        <p>Nine years ago when the idea of a musical history of San Francisco came to me in the middle of the night, little did I know what I was in for.  After scribbling down over 20 movement titles, I eventually settled on 14, and began working more or less in chronological order on each one.</p>
        </br>
        <p>Dancing on the Brink of the World is the the name of an Ohlone song to which the words and music have been lost in time.  Not only does the title reflect what it must have been like for the Bay Area’s original people who were all but destroyed by the arrival of the Europeans, but as history unfolded, the little village of Yerba Buena that became San Francisco also became the new Brink of the World.  The Ohlone, Mission Dolores, the Gold Rush, Chinatown, the Earthquake and Fire, Golden Gate Park, the Golden Gate Bridge, the Beatniks, the Psychedelic Scene, the Gay Movement.  The music tells these stories.</p>
        </br>
        <p>We begin 400 years ago when there were just a few small Ohlone villages scattered around the edge of the San Francisco bay.</p>
      </div>
    </div>
  </section>
  <section class="full-image">
    <div class="wrapper" du-parallax>
      <picture class="image" picturefill>
        <!--[if IE 9]<video style="display: none;"><![endif]-->
        <source srcset="/assets/images/dbw/applause/applause.jpg" media="(min-width: 1920px)"/>
        <source srcset="/assets/images/dbw/applause/applause_xl.jpg 1x, /assets/images/dbw/applause/applause_xl_2x.jpg 2x" pf-media="screen-lg"/>
        <source srcset="/assets/images/dbw/applause/applause_lg.jpg 1x, /assets/images/dbw/applause/applause_lg_2x.jpg 2x" pf-media="screen-md"/>
        <source srcset="/assets/images/dbw/applause/applause_md.jpg 1x, /assets/images/dbw/applause/applause_md_2x.jpg 2x" pf-media="screen-sm"/>
        <source srcset="/assets/images/dbw/applause/applause_sm.jpg 1x, /assets/images/dbw/applause/applause_sm_2x.jpg 2x" media="(min-width: 480px)"/>
        <source srcset="/assets/images/dbw/applause/applause_xs.jpg 1x, /assets/images/dbw/applause/applause_xs_2x.jpg 2x" media="(max-width: 480px)"/>
        <!--source srcset="/assets/images/dbw/panorama1/panorama1_xl.jpg 1x, /assets/images/dbw/panorama1/panorama1_xl_2x.jpg 2x" pf-media="screen-lg"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_lg.jpg 1x, /assets/images/dbw/panorama1/panorama1_lg_2x.jpg 2x" pf-media="screen-md"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_md.jpg 1x, /assets/images/dbw/panorama1/panorama1_md_2x.jpg 2x" pf-media="screen-sm"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_sm.jpg 1x, /assets/images/dbw/panorama1/panorama1_sm_2x.jpg 2x" media="(min-width: 480px)"/>
        <source srcset="/assets/images/dbw/panorama1/panorama1_xs.jpg 1x, /assets/images/dbw/panorama1/panorama1_xs_2x.jpg 2x" media="(max-width: 480px)"/-->
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/dbw/applause/applause.jpg" />
      </picture>
    </div>
  </section>
  <section class="vertical-center video kickstarter content">
    <div class="container">
      <div class="row">
        <h1>Kickstarter Campaign</h1>
      </div>
      <div class="col-md-6">
        <youtube-video video-url="videoUrl" player-width="'100%'"></youtube-video>
      </div>
      <div class="col-md-6">
        <h2 du-scrollspy>$8,100.00</h2>
        <p>In late 2012, we began a Kickstarter campaign to raise the funds for the upcoming 2013 premiere of Dancing on the Brink of the World.  Collin Boltz, who was in charge of the SF Conservatory of Music festival where concert would be taking place, introduced me to Louis Cruz, another student of my teacher David Conte.  Louis and I met early one morning and spent a memorable day shooting video in and around San Francisco, including some great footage driving across the Golden Gate Bridge.  Louis then added some musical clips from past recordings of the individual movements, and completed the Kickstarter video, which was successful in helping us reach our goal of $7,500.</p>
      </div>
    </div>
  </section>
  <section id="poem" class="vertical-center poem content">
    <div class="container">
      <div class="title text-center">
        <h1>The City by the Sea</h1>
        <h2>George Sterling</h2>
      </div>
      <br>
      <p>At the end of our streets is sunrise;</p>
      <p>At the end of our streets are spars;</p>
      <p>At the end of our streets the sunset;</p>
      <p>At the end of our streets the stars.</p>
      <br>
      <p>Ever the winds of morning</p>
      <p>Are cool from the flashing sea--</p>
      <p>Flowing swift from our ocean,</p>
      <p>Till the fog-dunes crumble and flee.</p>
      <br>
      <p>Homeward into the sunset</p>
      <p>Sill unwearied we go,</p>
      <p>Till the northern hills are misty</p>
      <p>With the amber of afterglow.</p>
      <br>
      <p>Stars that sink to our ocean,</p>
      <p>Winds that visit our strand's</p>
      <p>The heavens are your pathway,</p>
      <p>Where the gladder land!</p>
      <br>
      <p>At the end of our streets is sunrise;</p>
      <p>At the end of our streets are spars;</p>
      <p>At the end of our streets the sunset;</p>
      <p>At the end of our streets the stars.</p>
    </div>
  </section>
</div>
