<div class="dbw parallax col-md-12">
  <!--section id="title" class="vertical-center" stellar-background="0.8">
    <div class="full-width">
      <h1>Dancing on the Brink of the World</h1>
    </div>
  </section-->
  <section id="title" class="vertical-center min-height">
    <div class="parallax-txt vertical-center">
      <h1 class="text-center">Dancing on the Brink of the World</h1>
    </div>
    <img class="parallax-img" src="/assets/images/dbw/san_francisco1.jpg" du-parallax y="background" x="moveInFromLeft"/>
  </section>
  <section class="vertical-center content-height ohlone">
    <div class="container">
      <h2>A History of San Francisco 1600 - Present for Orchestra and Period Instruments</h2>
      <h1>"Dancing on the Brink of the World" is the name of an Ohlone song that has been lost in time. Only the title remains.</h1>
    </div>
    <div class="background"></div>
  </section>
  <section class="vertical-center video">
    <div class="container">
      <div class="row">
        <h1>Kickstarter Campaign</h1>
      </div>
      <div class="col-md-6">
        <youtube-video video-url="videoUrl" player-width="'100%'"></youtube-video>
      </div>
      <div class="col-md-6">
        <h2>$8,100.00</h2>
      </div>
    </div>
  </section>
  <div class="stellar-window" id="panel-1" stellar-background="0.8">
  </div>
  <section class="movements">
    <div class="container">
      <div class="col-xs-3 vertical-center">
        <div>
          <h1>Movements</h1>
          <tabset vertical="true" type="pills">
            <tab ng-repeat="movement in movements" heading="{{$index + 1}}. {{movement.title}}" ng-click="changeInfo(movement)" class="cursor">
              <div ng-if="movement.audio" plangular="{{movement.audio}}"></div>
            </tab>
          </tabset>
        </div>
      </div>
      <div class="col-xs-9 vertical-center">
        <div class="tab-content">
          <div ng-if="currentMovement.audio" class="table" plangular="{{currentMovement.audio}}">
            <div class="table-cell">
              <button class="button-icon" ng-click="playPause()">
                <i class="fa fa-play fa-lg" ng-if="player.playing != track"></i>
                <i class="fa fa-pause fa-lg" ng-if="player.playing == track"></i>
              </button>
            </div>
          </div>
          <h3>{{currentMovement.title}}</h3>
          <h4>{{currentMovement.year}} – {{currentMovement.subtitle}}</h4>
          <p>{{currentMovement.content}}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="stellar-window" id="panel-2" stellar-background="0.8">
  </div>
  <section id="poem" class="vertical-center poem">
    <div class="container">
      <div class="title text-center">
        <h2>The City by the Sea</h2>
        <h3>George Sterling</h3>
      </div>
      <p>At the end of our streets is sunrise;</p>
      <p>At the end of our streets are spars;</p>
      <p>At the end of our streets the sunset;</p>
      <p>At the end of our streets the stars.</p>
      <br>
      <p>Ever the winds of morning</p>
      <p>Are cool from the flashing sea--</p>
      <p>Flowing swift from our ocean,</p>
      <p>Till the fog-dunes crumble and flee.</p>
      <br>
      <p>Homeward into the sunset</p>
      <p>Sill unwearied we go,</p>
      <p>Till the northern hills are misty</p>
      <p>With the amber of afterglow.</p>
      <br>
      <p>Stars that sink to our ocean,</p>
      <p>Winds that visit our strand's</p>
      <p>The heavens are your pathway,</p>
      <p>Where the gladder land!</p>
      <br>
      <p>At the end of our streets is sunrise;</p>
      <p>At the end of our streets are spars;</p>
      <p>At the end of our streets the sunset;</p>
      <p>At the end of our streets the stars.</p>
    </div>
  </section>
  <div class="stellar-window" id="panel-3" stellar-background="0.6">
  </div>

</div>
