.parallax {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -51px;
  section {
    background: white;
    height: 100vh;
    z-index: 7;
    text-align: center;
    h1 {
      color: white;
      font-weight: 900;
      text-align: center;
    }
    p {
      font-size: 13px;
    }
  }
  #title {
    background-color: $orange;
    background-image: url("/assets/images/dbw/san_francisco1.jpg");
    background-size: cover;
    background-position: left 0px center;
    padding: 20px;
    text-align: center;
    .full-width {
      width: 100%;
    }
    h1, h2 {
      color: #C0362C;
      text-align: center;
    }
    h1 {
      font-size: 100px
    }
    h2 {
      font-size: 50px;
    }
  }
  .ohlone {
    background-color: #C0362C;
    color: white;
    h2 {
      color: black;
      text-transform: uppercase;
    }
  }
  .movements {
    h1 {
      color: black;
      font-weight: 500;
    }
    h4 {
      text-transform: uppercase;
    }
    li {
      font-size: 11px;
      a {
        padding: 6px 8px;
      }
    }
  }
}
.stellar-window {
  position: relative;
  z-index: 4;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center 0px center;
  background-repeat: no-repeat;
}

.nav-pills a,
.nav-pills a:hover,
.nav-pills a:focus {
  color: $primary;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $primary;
}

#panel-1 {
  background-image: url("/assets/images/dbw/dbw_applause1.jpg");
}

#panel-2 {
  background-image: url("/assets/images/dbw/loren_jones1.jpg");

}

/* Animations */
.tab-content.ng-enter, .tab-content.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.tab-content.ng-enter.ng-enter-active,
.tab-content.ng-move.ng-move-active {
  opacity: 1;
}

/* Responsive Sizes*/
@media only screen and (max-width: 767px) {
  .movements {
    h1 {
      font-size: 24px;
    }
  }
}
@media only screen and (min-width : 768px) {
  .parallax {
    .movements {
      li {
        font-size: 13px;
      }
    }
  }
}

@media only screen and (min-width : 992px) {
  .parallax {
    .movements {
      li {
        font-size: 14px;
      }
    }
  }
}
