.parallax {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -51px;
  section {
    background: white;
    text-align: center;
    overflow: hidden;
    .photo {
      height: 100vh;
      overflow: hidden;
      position: absolute;
      .wrapper {
        overflow: hidden;
        height: 100%;
      }
    }
    .hor-photo {
      height: 320px;
      overflow: hidden;
      position: absolute;
    }
    .content {
      min-height: 100vh;
      position: relative;
      z-index: 10;
    }
    .parallax-img {
      min-height: 100%;
      min-width: 1024px;
      height: auto;
      width: 100%;;
      overflow: hidden;
      z-index: 1;
    }
    .hor-parallax-img {
      height: 320px;
      overflow:hidden;
      width: auto;
    }
    .parallax-txt {
      z-index: 2;
      position: absolute;
      width: 100%;
      color: $orange;
      text-align: center;
      h1 {
        text-align: center;
      }
    }
    .background {
      background-color: $orange;
      z-index: 10;
    }
    h1 {
      color: white;
      font-weight: 900;
      text-align: center;
    }
    p {
      font-size: 13px;
    }
  }
  #title {
    h1, h2 {
      color: #C0362C;
      text-align: center;
    }
    h1 {
      font-size: 100px
    }
    h2 {
      font-size: 50px;
    }
  }
  .ohlone {
    background-color: $orange;
    color: white;
    position: relative;
    z-index: 10;
    h1 {
      color: black;
      text-transform: uppercase;
      font-weight: 400;
    }
    h2 {
      color: black;
      font-weight: 700;
    }
    h3 {
      color: white;
    }
  }
  .video {
    background-color: $primary;
    color: white;
    position: relative;
    z-index: 10;
    h2 {
      color: white;
    }
  }
  .movements {
    position: relative;
    z-index: 10;
    h1 {
      color: black;
      font-weight: 500;
    }
    h4 {
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
    }
    li {
      font-size: 11px;
      a {
        padding: 6px 8px;
      }
    }
  }
}

.nav-pills a {
  -webkit-transition-property: background-color, color;
     -moz-transition-property: background-color, color;
       -o-transition-property: background-color, color;
          transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.nav-pills a,
.nav-pills a:focus {
  color: $primary;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  background-color: $primary;
}

.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:focus {
  background-color: $primary-light;
  color: $primary;
}

#panel-1 {
  //background-image: url("/assets/images/dbw/dbw_applause1.jpg");
}

#panel-3 {
  //background-image: url("/assets/images/dbw/loren_jones1.jpg");
}

#panel-2 {
  //background-image: url("/assets/images/dbw/dbw_poster.jpg")
}

#poem {
  background-color: $blue;
  color: white;
}

/* Animations */
.tab-content.ng-enter, .tab-content.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.tab-content.ng-enter.ng-enter-active,
.tab-content.ng-move.ng-move-active {
  opacity: 1;
}

/* Responsive Sizes*/
@media only screen and (max-width: 767px) {
  .movements {
    h1 {
      font-size: 24px;
    }
  }
}
@media only screen and (min-width : 768px) {
  .parallax {
    .movements {
      li {
        font-size: 13px;
      }
    }
  }
}

@media only screen and (min-width : 992px) {
  .parallax {
    .movements {
      li {
        font-size: 14px;
      }
    }
  }
}
