<div class="parallax col-md-12">
  <section id="title" class="vertical-center" stellar-background="0.8">
    <div class="full-width">
      <h1>Dancing on the Brink of the World</h1>
      <h2>A History of San Francisco 1600 - Present for Orchestra and Period Instruments</h3>
    </div>
  </section>
  <section class="vertical-center ohlone">
    <div class="container">
      <h1>"Dancing on the Brink of the World" is the name of an Ohlone song that has been lost in time. Only the title remains.</h1>
    </div>
  </section>
  <div class="stellar-window" stellar-background="0.6">
  </div>
  <section class="movements">
    <div class="container">
      <div class="col-md-3 col-xs-5 vertical-center">
        <div>
          <h1>Movements</h1>
          <tabset vertical="true" type="pills">
            <tab ng-repeat="movement in movements" heading="{{$index + 1}}. {{movement.title}}" ng-click="changeInfo(movement)" class="cursor"></tab>
            <!--tab heading="2. Ave Maria Yerba Buena" ng-click="changeMovement(2)"></tab>
            <tab heading="3. Gold Rush"></tab>
            <tab heading="4. Dragon Gate"></tab>
            <tab heading="5. Barbary Coast March"></tab>
            <tab heading="6. Mid-Winter Exposition"></tab>
            <tab heading="7. The Outside Lands"></tab>
            <tab heading="8. Earthquake"></tab>
            <tab heading="9. Playland"></tab>
            <tab heading="10. Golden Gate Bridge"></tab>
            <tab heading="11. North Beach"></tab>
            <tab heading="12. Haight Ashbury"></tab>
            <tab heading="13. The Castro"></tab>
            <tab heading="14. The City by the Sea"></tab-->
          </tabset>
        </div>
      </div>
      <div class="col-md-9 col-xs-7 vertical-center">
        <div>
          <h3>{{currentMovement.title}}</h3>
          <h4>{{currentMovement.year}} – {{currentMovement.subtitle}}</h4>
          <p>{{currentMovement.content}}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="stellar-window" stellar-background="0.8">
  </div>
  <section class="vertical-center">
    <h1>History</h1>
    <p>This is a section and a section should be so tall</p>
  </section>
  <div class="stellar-window" stellar-background="0.8">
  </div>
  <section class="vertical-center">
    <h1>History</h1>
    <p>This is a section and a section should be so tall</p>
  </section>
  <div class="stellar-window" stellar-background="0.8">
  </div>
  <section class="vertical-center">
    <h1>History</h1>
    <p>This is a section and a section should be so tall</p>
  </section>
  <section class="vertical-center">
    <h1>History</h1>
    <p>This is a section and a section should be so tall</p>
  </section>
</div>
